﻿/*************************
*******Typography******
**************************/
body {background: #fff;font-family: 'Open Sans', sans-serif;color:#333333;line-height: 22px; font-weight:600;}
h1,h2,h3,h4,h5,h6 { font-weight: 600;   font-family: 'Open Sans', sans-serif;  color:#4e4e4e;}
h1{font-size: 36px;color:#fff;}
h2{font-size: 20px;}
h3{font-size: 16px;color: #787878;font-weight: 400;line-height: 24px;}
h4{font-size: 16px;}
li{list-style:none;}
a {color: #c52d2f;-webkit-transition: color 300ms, background-color 300ms;-moz-transition: color 300ms, background-color 300ms;-o-transition:  color 300ms, background-color 300ms;transition:  color 300ms, background-color 300ms;}
a:hover, a:focus {color: #d43133;}
hr {border-top: 1px solid #e5e5e5;border-bottom: 1px solid #fff;}
.btn-primary {padding: 8px 20px;background: #c52d2f;color: #fff;border-radius: 4px;border:none;margin-top: 10px;}
.btn-primary:hover, btn-primary:focus{background: #c52d2f;outline: none;box-shadow: none;} 
.btn-transparent {border: 3px solid #fff;background: transparent;color: #fff;}
.btn-transparent:hover {border-color: rgba(255, 255, 255, 0.5);}
a:hover,a:focus {color: #111;text-decoration: none;outline: none;}
.dropdown-menu {margin-top: -1px;min-width: 180px;}
.center h2{font-size: 36px;margin-top: 0;margin-bottom: 20px;}
.media>.pull-left{margin-right: 20px;}
.media>.pull-right{margin-left: 20px;}
body > section {padding: 10px 0;}
.center {text-align: center;padding-bottom: 55px;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}
.transparent-bg {background-color: transparent !important;margin-bottom: 0;}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000;}
::-moz-placeholder {color: #000;}
:-ms-input-placeholder {color: #000;}

.form-control:focus														{ box-shadow:none;}
.btn																					{ border-radius:5px;}

input, button																	{ outline:none;}
*:active,*:focus																{ outline:0 !important;}

/*************************
*******Header******
**************************/
a.navbar-brand {float: inherit;height: auto;padding:20px 0 20px 0; display:block;}
.breadcrumb > li + li::before{content: "| ";}
.hello_admin span 		{ display:inline-block; width:14px;  float:right; margin-top:-3px;}
.hello_admin				{ width:120px; display:inline-block; margin:29px  0 0 17px; vertical-align:middle; }
.hello_admin p				{font-weight: 600;   font-family: 'Open Sans', sans-serif;  color:#333333; font-size:14px; line-height:14px;
width:86%; text-align:left; float:right;  padding:0 0 0 5px;}
.selectpicker  { width:298px; display:inline-block; margin:8px 0 0 0; vertical-align:middle; position:relative; top:7px; border:1px solid #cccccc; height:30px;
color:#666666; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:400;}
.selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:50px;pointer-events:none;}
.selectpicker:after{position:absolute;content:"";border:8px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}
#header  .navbar-nav > li > a {color:#ffffff; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; border-right:1px solid #696767; padding: 12px 27px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {  background:none;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover	{ background:none;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover	{ background:none;}
#header  .navbar-default		{ border:0; background:#4c4a49;}
#header .navbar						{ border-radius: 0;  min-height:40px; margin:0;}
#header  .navbar-nav > li:first-child  a { padding-left:6px;}
#header .navbar-nav > li a .caret							{ margin-left:5px;	border-top: 7px dashed; position:relative;}

#header .navbar-nav > li ul li a .caret { -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border-color: transparent transparent transparent #333;
    border-image: none; border-style: solid;    border-width: 5px;    margin-left: auto;    top: -3px;
}
.breadcrumb	{ margin:0; padding:8px 0 7px 0;  border-radius:0; background: none; text-transform:uppercase; border-bottom:1px solid #cccccc;}
.breadcrumb li		{ color:#333333;}
.breadcrumb li	 a	{ font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#0095e5;}
.breadcrumb > li + li::before {  color:#333333;}

/*content*/
.admin_page										{ background:url(../images/bg.png) repeat  left top;}
.admin_page  .wrap_container			{ box-shadow:0 2px 3px  #000101;  padding:0; width:100%; background:#fff;}
.admin_page  .container .content { width:96%; margin:0 auto;}
.admin_page  .container .content  h3	 { font-family: 'Open Sans', sans-serif;  font-size:24px; line-height:24px; font-weight:600; color:#666666; text-transform:uppercase;
padding:17px 0 3px 0; margin:0;}
.admin_page  .container .content  p	 { font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#666666;}
.create_store														{ width:90%; margin:48px auto 23px;   position:relative;}
.create_store .length												{ width:75%;  background:#70d0ec; height:4px; border-top: 1px solid #468293;  margin:0 auto;}
.create_store ul														{  left: 0;    margin-top: -17px;    padding: 0;    position: relative;    top: 50%;    width: 100%;}
.create_store ul li													{ float:left; margin:0; padding:0;width:25%; text-align:center;}
.create_store ul li span												{background: #999999 none repeat scroll 0 0;    border-radius: 50%;    color: #333333;    display: block;    font-family: "Open Sans",sans-serif;    font-size: 16px;
    font-weight: 600;  height: 30px;    line-height: 29px;    margin: 0 auto;    text-align: center;    width: 30px;}
.create_store ul li h4												{font-family: 'Open Sans', sans-serif;  font-size:16px; line-height:16px; font-weight:600; color:#333333; margin-top:6px;}
.create_store ul li.length01									{ width:31%;}
.create_store ul li.length02									{ width:7%;}
.create_store ul li.length02 span							{  float:right;}
.create_store ul li  .wrapBox.active span	{ background:#0098ce; color:#fff;}
.create_store ul li  .wrapBox {   display: inline-block;}
.select_data													{ width:100%; border-top: 1px solid  #cccccc;}
.button_section														{ width:100%; text-align:center; margin:0; padding:20px 0;   border-top: 1px solid  #cccccc;  }
.button_section li														{ display: inline-block; margin:0 8px;}
.button_section .btn-success { background-color: #0098ce;    border-color: #0098ce;
  font-family: 'Open Sans', sans-serif;  font-size:16px; line-height:16px; font-weight:600; color:#fff;
}
.select_data  h6											{ font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333; margin-top:6px; margin-bottom:0;}
.select_data .radio_data	label 				{font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;
position:relative; width:123px;}
.select_data .form-control							{ width:298px;  border-radius:0; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;
height:30px; padding:3px 4px;}								



.button_section .btn 	{ padding:6px 19px; text-transform:uppercase; font-family: 'Open Sans', sans-serif;  font-size:16px; line-height:16px; font-weight:600; color:#fff; background:#0098ce; border-color:#0098ce; }


.select_data .row									{ margin-top:18px;}
.select_data  .col-md-2						{ margin-bottom:20px;}
.select_data  .col-md-10					{ margin-bottom:20px;}
.button_section .btn.gray							{ background:#999999 ;  border-color: #999  ;}
.select-style 										{border: 1px solid #ccc;   border-radius:0;    overflow: hidden;    background: #fff url(../images/select.png)no-repeat 97% 50%;}
.select-style select							 {    padding: 5px 5px;    width: 100%;    border: none;    box-shadow: none;    background: transparent;    background-image: none; 
   -webkit-appearance: none; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;}
.select-style select:focus				{    outline: none;}
.select_data .radio							{ margin:0;    padding-left: 20px;}
.select_data  .selectpicker  { width:298px; display:inline-block; margin:0 0 0 0; vertical-align:middle; position:relative; top:0; border:1px solid #cccccc; height:30px;
color:#666666; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:400;}
.select_data  .selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:20px;pointer-events:none;}
.select_data  .selectpicker:after{position:absolute;content:"";border:6px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}

.wrap_lang ul								{ margin:0; padding:0; list-style:none; width:100%;}
.wrap_lang ul  li								{ margin:0 0 3px 0; padding:0; list-style:none; width:100%; float:left;}
.wrap_lang ul  li:first-child				{ margin-bottom:12px;}
.wrap_lang.second ul  li								{ margin-bottom:8px; }
.wrap_lang.second ul  li:first-child				{ margin-bottom:12px;}
.wrap_lang ul  li .col-md-2				{ margin:0; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;}
.wrap_lang ul  li .col-md-2	 label			{ margin:0; font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; }
.wrap_lang ul.checkcolor label {color:#666666;}
.wrap_lang ul  li .col-md-2 input[type="checkbox"]  { margin:0 5px 0 0;}
.select_data .wrap_lang								{  border:1px solid #cfcfcf; padding:0 0 0 0; max-height:240px; overflow:auto;}	


/*create-store_2 page*/
.create02  h5	 { font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333; margin:0 15px; padding:0 0 12px 0;}
.create02  .checkcolor h5	{ margin:0;}
.create02 .wrap_creat02 { border-bottom:1px solid #ccc;}
.create02 .wrap_creat02  .checkcolor label {color:#666666;}
.wide																		{  width:100%;}
.wrap_creat02														{ padding:5px 0 6px 0 ;}
.wrap_creat02 .col-md-6 h5		{ margin-left:0; margin-right:0;}
.wrap_creat02 .select_data .selectpicker	{ width:173px;}
.num_size input[type="text"] { width:53px;}
.select_data .wrap_lang.create02		{ max-height:100%;}
.create02 .col-md-6 h5	{ margin-left:0; margin-right:0;}
.create02 .col-md-6  span	{ width:150px; display:inline-block;}
.narrow												{ display:inline-block;}
.create02 .col-md-6 .narrow			{ width:63px; padding-left:20px;}
.size01												{ width:258px;}
.create02 .col-md-6 .selectpicker  { width:173px;}
.create02 .col-md-6.type_select .selectpicker  { width:260px;}
.create02 .col-md-6 .narrow  label { font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;}
.create02 .col-md-6	 .default	{ width:73px;}
.create02 .col-md-6 	 label { font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;}
input, select, textarea				{ border:1px solid #ccc;}
input[type="text"]{ height:28px; padding:0 7px ;}
 textarea			{ min-height:78px; padding:7px;}

/*create-store_3 page*/
.pagination	{ margin:0; }
.well{ padding:15px 0; background:#ebebeb; border:0; border-radius:0; box-shadow:none;}
.well .col-md-6		{ font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#333333;}
.create_pg3  .col-md-6 span	{ display:inline-block; margin-left:15px;}
.create_pg3  .col-md-6 span a	{font-family: 'Open Sans', sans-serif;  font-size:14px; line-height:14px; font-weight:600; color:#0098ce;  text-decoration:none;	}
.create_pg3 .pagination > li > a, .pagination > li > span {   border: 1px solid #fff; color:#666666; background:#ebebeb; font-size:14px; line-height:14px; font-weight:600;
padding:7px 10px;	}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {background-color: #666666;    border-color: #fff;    color: #fff;    z-index: 3;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-bottom-left-radius:0;border-top-left-radius: 0 ;margin-left: 0;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-bottom-right-radius: 0;border-top-right-radius:0;}
.create_pg3 .button_section { text-align:right;}
.themes										{  margin:0; padding:0; list-style:none;}
.themes .photo							{ border-top: 1px solid #797979;  border-left: 1px solid #797979;  border-right: 1px solid #797979;}
.themes .photo img					{ border:1px solid #a8a8a8; width:90%; height:auto; margin-top:12px; margin-bottom:12px;}

/*create-store_4 page*/
.create_pg4 .col-md-6 					{ padding:0;}
.create_pg3 .button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section .col-md-6.text-left  { font-size:18px;  line-height:27px; min-height:30px; font-weight:600; color:#666666;}
.create_pg4 .box	{ border:1px solid  #cccccc; width:100%; margin-bottom:20px;}
.create_pg4 .box .col-md-3	{ padding-top:15px; padding-bottom:15px}
.create_pg4 .box .col-md-3 ul { margin:0; padding:0; list-style:none;}
.create_pg4 .box .col-md-3 ul li  { font-size:14px; line-height:14px; font-weight:600;  color:#333333;}
.create_pg4 .box .col-md-3 img	{ border:1px solid  #a8a8a8;}
.create_pg4 .box .col-md-9 h6		{  font-size:16px; line-height:16px; font-weight:600;  color:#666666; margin-bottom:19px;}
.create_pg4 .no_padding .wrap_title			{ background:#efefef; margin: 0 0 18px 0;}
.create_pg4 .no_padding .wrap_title .title	{   font-size:16px; line-height:16px; font-weight:600; color:#666666; padding:7px 0;}
.create_pg4 .no_padding .wrap_title .icon		{ background:url(../images/store_pics.png)  no-repeat 0 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon2		{ background:url(../images/store_pics.png)  no-repeat -32px 0;  width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon3		{ background:url(../images/store_pics.png)  no-repeat  -64px 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon4		{ background:url(../images/store_pics.png)  no-repeat  -96px 0; width:30px; height:30px; float:left;}

.create_pg4 .no_padding .wrap_title .icon5		{ background:url(../images/store_pics.png)  no-repeat  0 -32px; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon6		{ background:url(../images/store_pics.png)  no-repeat  -32px  -32px; width:30px; height:30px; float:left;}

.create_pg4 .review01 ul.detail_title li .col-md-6 b	{ text-transform:uppercase;}

.create_pg4 .no_padding .wrap_title .title		{ width:92%; float:right; }
.create_pg4 .review01								{ width:100%; margin:0 0 30px 0;	}
.create_pg4 .review01 ul.detail_title		{ margin:0; width:100%; padding:0; float:left;}
.create_pg4 .review01 ul.detail_title li		{ margin:0px 0; display:inline-block; width:100%; vertical-align:top;}
.create_pg4 .review01 ul.detail_title li .col-md-6{ margin:0; padding:0; list-style:none; color:#333333;  font-size:14px;  line-height:23px; font-weight:600;}
.create_pg4 .review01 ul.detail_title li .lightgray	{ color:#666666;}
.create_pg4 .no_padding							{ padding:0;}
.create_pg4 .no_padding  .review01 h6		{  font-size:14px; line-height:14px; font-weight:900; color:#333;
text-transform:uppercase; margin:0; float:left; margin:0 0  5px 0;}
.wrap_block														{ margin: 0 0 20px 0; padding:0; list-style:none;  border-bottom:1px solid #cccccc; float:left;}
ul.wrap_block  li:first-child									{ padding-right:2%; border-right:1px solid #cccccc; float:left; padding-left:0px;}
ul.wrap_block  li									{ width:50%; padding-left:2%; float:right;}
ul.wrap_block li li {border: 0 none !important; padding: 0;}
ul.wrap_block li li:first-child { padding-right:0;}



/*Login page Section*/
.logpage .logo	{left: 0;position: absolute; right: 0; top: -110px;}
.logpage	{ width:800px; margin:0 0 0 -400px; border-radius:15px;left:50%;position:fixed;top:50%;z-index:999;}
.logpage:before{position:fixed;bottom:0;left:0;right:0;height:30%;background:#5c5c5c;content:"";z-index:-1;}
.logpage:after{position:fixed;top:0;left:0;right:0;height:70%;background:#f5f5f5;content:"";z-index:-1;}
.logpage .col-md-12 {background:#fff; border-radius:15px; padding-top:40px; padding-bottom:40px;  -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;}
.logpage h6	{ font-size:16px; line-height:18px; font-weight:900; color:#1d1d1b; }
.logpage p	{ font-size:14px; line-height:16px; font-weight:400; color:#1d1d1b; margin:0 0 21px 0;}
.logpage ul	{ margin:7px 0 20px 0; padding:0; list-style:none;}
.logpage ul li	{ margin:0; padding:0; list-style:none; position:relative; padding:0 0 0 8px;
font-size:14px; line-height:17px; font-weight:400; color:#1d1d1b;}
.logpage ul li:before { content:"" ; position:absolute; width:3px; height:1px; background:#000; left:0; top:9px;}
.border_right { border-right:1px solid #cccccc;}
.logpage .form-group	{ margin-bottom:20px;}
.logpage .form-control	{ border-radius:5px; background:#f5f5f5; font-size:14px; line-height:14px; font-weight:400; color:#999999; height:40px; border:0; box-shadow:none;}
.logpage .btn-default {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,9a9a9a+100 */
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #9a9a9a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* IE10+ */
background: linear-gradient(to bottom, #cccccc 0%,#9a9a9a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-9 */
 font-size:18px; line-height:18px; font-weight:900; color:#1d1d1b; text-transform:uppercase;  border:0;padding: 9px 12px;
}
.logpage .check	{font-size:14px; line-height:14px; font-weight:400 !important;  color:#333333; }
.logpage .check label	{ font-weight:400;}
.logpage p.no_margin	{ margin-bottom:0 !important;}



/*Add Category */
.collapsableMenu .btn.btn-info {background-color: #efefef;border: 0 none;border-radius: 0;color: #444;display: block;width: 100% !important;text-align:left;padding-left: 40px; color:#666; font-size:18px; font-weight:bold;}
.collapsableMenu{padding:10px 20px;}

.collapsableMenu a.btn:before {border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 5px solid #666666;content: "";height: 0;left: 13px;  position: absolute;top: 17px;width: 0;}
.collapsableMenu a.btn.collapsed:before{ border-bottom: 5px solid transparent;border-left: 6px solid #666666;border-top: 5px solid transparent;content: "";height: 0;  left: 17px;position: absolute;top: 14px;width: 0;}
.languageDropdown{width:220px;}
.row.collapsableContent {padding: 15px 0;}
.redColor{color:#FF0000;}
.form-control{border-radius:0px;}
.collapsableContent .form-group{border-bottom: 1px solid #CCC;margin: 0 15px 15px;padding-bottom: 15px;}
.collapsableContent .form-group label{padding:0px;color: #333;}
.collapsableContent .form-group .select-style{height: 34px;margin: 0;vertical-align: super;width: 100%;}
.uploaderMsg{display:inline-block;vertical-align: top;}
.uploadImage img{width:100%;}
.collapsableContent .form-group:last-child {border-bottom: 0 none;margin-bottom: 0;padding-bottom: 0;}
.seoMetaDataPanel .col-md-10{width:81%;}
.buttonPanel{width:100%;}


/*ADD Section*/
.imageSectionIcon{padding:0px;}
#assignProducts .radio-inline input[type="radio"]{margin: 4px 0 0 -16px;   }
#assignProducts .radio-inline{padding-left: 16px !important;}
#assignProducts .collapsableContent .form-group{border-bottom:0 none; margin-bottom:0px;}


/*Category Listing */
.categories_btn > li {display: inline-block;}
.categories_btn{padding:0px;}
.categories_btn {float:right;margin: 15px 0 5px;}
.mainContainer {min-height:645px;}
.sectionText {display:block;margin:0px;line-height:16px;}
.categories_btn li {float:left;margin:0px 10px;}
.categories_btn li .btn1, .categories_btn li .btn2, .categories_btn li .btn3 {background-color:#0098ce;
border: medium none;border-radius: 4px;color: #FFFFFF;cursor: pointer;display: block;float: left;font-family: 'Conv_DIXN', Arial;
font-size: 14px;height: 32px;line-height: 30px;padding: 0 10px;position: relative;text-align: center;
margin:15px 0;text-decoration: none;text-transform: uppercase;}
.categoriesmainBlock {display:block;margin: 0px;padding:0 0 15px;}
.dragbltop tr th {background: url("../images/sliver_bg.jpg") repeat-x scroll center top transparent;
border: 1px solid #DDD;background-color:#CCC;padding: 5px 5px;text-align:center;  font-size: 14px; }
.dragblnextBlock li:nth-child(even) {background: #e8f9ff}
.dragblnextBlock li:nth-child(odd) {background: #f2fcff}
.secondul li {background: #f7f7f7 !important; }
.firsttdResize {width:34% !important}
.all_customer_inner.dragbltop {  border: 1px solid #ccc;}
.dragbltop tr td, .dragbltop tr th {width:13.3333%;}
.addEditecinUl input[type="checkbox"] { margin:4px 5px 0 5px;}
#ContentPlaceHolder1_updatePanelAssign .sectionradio { padding:15px 0;}
#ContentPlaceHolder1_updatePanelAssign .blockOnedit label { margin:0 0 0 20px;}
#ContentPlaceHolder1_pnlCategory .overscrol ul { padding:0;}
#ContentPlaceHolder1_pnlCategory .overscrol .addEditecinUl {
border-top:1px solid #ccc;}
.greyrow {	background:#efefef;}
.dragbltop tr td.firsttd {text-align: left;padding-left: 16px;}
.dragbltop tr td.secTds {text-align: center;}
/*
.sixthtdResize {width: 78px !important;}

.dragbltop tr th.firsttd {width:40%;}
.dragbltop tr th.secondtd {width: 100px;}
.dragbltop tr th.thirdtd {width: 100px;}
.dragbltop tr th.fourthtd {width: 120px;}
.dragbltop tr th.fivethtd {width: 130px;}
.dragbltop tr th.sixthtd {width: 50px !important;}
.dragbltop tr td.secondtd {	width:100px;}
.dragbltop tr td.thirdtd {width:100px;}
.dragbltop tr td.fourthtd {width:120px;}
.dragbltop tr td.fivethtd {width:140px;padding:0px;}
.dragbltop tr td.sixthtd {width:50px !important;}
*/
.dragbltop tr td {border: 1px solid #CCCCCC;border-top:none;padding:5px 5px;text-align:center; font-size: 14px;}
.dragbltop tr td a { color: #444;font-weight: bold;}
.dragbltop tr td{ color: #444;font-weight: bold;}
.arrowUl {background: url("../Images/UI/arrow.png") no-repeat scroll left center transparent;margin: 0 0 0 20px;
padding: 0 0 0 10px !important;}
.secondul1 .arrowUl {ackground: url("../Images/UI/arrow.png") no-repeat scroll left center transparent;
margin: 0 0 0 40px;padding: 0 0 0 10px !important;}
.dragbltopextra tr td {border-top:none;}
.dragblnextBlock .action{cursor: pointer;display: block;height: 17px;margin: 0 auto;position: relative;width: 30px;}
.dragblnextBlock .action:hover{z-index:999;}
.dragblnextBlock .action:hover a.icon{background-position:0 -244px;z-index:999;}
.proOverlay{bottom: 0;   left: 0;    position: fixed;    right: 0;    top: 0;z-index:999;}
.proOverlay table{width:100%;height:100%;}
.proOverlay table td{vertical-align:middle;text-align:center;font-size:18px;font-weight:bold;}
.proOverlay:before{bottom: 0; left: 0; position: fixed;
right: 0; top: 0;z-index:-1; background:#fff;opacity:0.8;content:"";}
.icon {background: url("../Images/UI/icon2.png") no-repeat scroll 0 -304px;cursor: pointer;display: block;height: 20px;
padding: 0;position: relative;right: 0;top: -5x;width: 29px;}
.action_hover {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #999999;border-radius: 5px 5px 5px 5px;
box-shadow: 0 2px 3px 2px #6E6E6E;display: none;padding: 5px 0;position: absolute;right: -98%;top: 25px;width: 160px;
z-index: 9;}
.action_hover a:hover {color:#fff;}
.action_hover span {background: none repeat scroll 0 0 #FFFFFF;border-radius: 5px 5px 0 0;
box-shadow: 0 -2px 2px #6C6C6C;height: 34px;border:1px solid #999999;border-bottom:none;padding: 0;position: absolute;
right: 8%;top: -34px;width: 59px;}
.iconDark {background: url("../Images/UI/icon2.png") no-repeat scroll 0 -244px transparent !important;}
.dragblnextBlock .view_order a:first-child {border-top:none;}
.dragblnextBlock .view_order a {background: none repeat scroll 0 0 transparent;
color: #0099cc;display: block;font-size: 13px; line-height:19px; padding: 0 0;text-align: left;text-indent: 20px;}
.dragblnextBlock .view_order a:hover, .dragblnextBlock .other_option a:hover {color:#0099cc;}

.dragblnextBlock .other_option a:first-child {border-top:none;}
.dragblnextBlock .other_option a {background: none repeat scroll 0 0 transparent;color: #000000;display: block;
border-top:1px solid #ccc;text-align:left;font-size: 13px;padding: 10px 0;text-indent: 20px;}
.dragblnextBlock .other_option {padding:2px 0px;}
.firstDv {display: inline-block;line-height: 20px;color:#515151;}
.chkBox {background: url("../images/checkboximg.png") no-repeat scroll 0 0 transparent;height: 17px;padding: 0;
width: 17px;display:inline-block;}
.chkBoxmark {background:url("../images/checkboximg.png") no-repeat scroll 0 -19px transparent}
.chkBox input[type="checkbox"] {opacity:0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);}
.firstDv input[type="checkbox"] {cursor: default;}
.firstDv span {display: inline-block;padding:0px;}
.firsttd.firsttdResize > span {padding-left: 20px;}
.firstDv span.spnwidt {display: inline-block;height: 20px;color:000;text-align:left;padding: 0 3px;width: 48px;}
.paneltab {cursor:pointer;background: url("../Images/UI/minus.png") no-repeat scroll left center transparent;
padding-right: 20px;  font-weight: bold; padding-left: 22px;margin-left: 0px;}

.paneltabplus {background: url("../Images/UI/plus.png") no-repeat scroll left center transparent !important;  padding-left: 22px;}
.succsessMessa {background: none repeat scroll 0 0 #e0ffd3;border: 1px solid #CCCCCC;box-shadow: 0 0 3px #A0A0A0;
display: block;margin: 10px auto;padding: 10px 2px;width: 98%;color:#000;}
.errorMessa {background: none repeat scroll 0 0 #ff9a9a;border: 1px solid #CCCCCC;color:#000;
box-shadow: 0 0 3px #A0A0A0;display: block;margin: 10px auto;padding: 10px 2px;width: 98%;}
.midleDrgblecontin ul {padding:0; margin:0px;}
.dragblnextBlock ul {/*display:none;*/}
.icon {	background: url("../Images/UI/icon2.png") no-repeat scroll 0 -304px;cursor: pointer;display: block;	height: 20px;	padding: 0;	position: relative;	right: 0;	top: -5x;	width: 29px;}
.action:hover .action_hover {display:block}
.action_hover {    background: none repeat scroll 0 0 #FFFFFF;    border: 1px solid #999999;    border-radius: 5px 5px 5px 5px;    box-shadow: 0 2px 3px 2px #6E6E6E;    display: none;    padding: 5px 0;    position: absolute;    right: -98%;    top: 25px;    width: 160px;    z-index: 9;}
.action_hover a:hover {	color:#fff;}
.action_hover span {	background: none repeat scroll 0 0 #FFFFFF;	border-radius: 5px 5px 0 0;	box-shadow: 0 -2px 2px #6C6C6C;	height: 34px;	border:1px solid #999999;	border-bottom:none;	padding: 0;	position: absolute;	right: 8%;	top: -34px;	width: 59px;}


/*AssignProductCategory*/
.exit  { padding:6px 19px; text-transform:uppercase; font-family: 'Open Sans', sans-serif;  font-size:16px; line-height:16px; font-weight:600; color:#fff; background:#0098ce; border-color:#0098ce; 
border-radius:5px;}
.save { padding:6px 19px; text-transform:uppercase; font-family: 'Open Sans', sans-serif;  font-size:16px; line-height:16px; font-weight:600; color:#fff; background:#0098ce; border-color:#0098ce; 
border-radius:5px;}
#ContentPlaceHolder1_trProduct .boxManageReviews { padding:15px 0 0 0;}
#ContentPlaceHolder1_trPCategory .select-style { margin-left:10px;}
#ContentPlaceHolder1_trPSCategory .select-style { margin-left:10px;}
#ContentPlaceHolder1_trPSSCategory .select-style { margin-left:10px;}

/*29th jully*/
#divWeb { padding:0 0; border:1px solid #ccc;}
.textIcon.paneltab {margin: 0 0; padding:5px 20px; display:block; border-bottom:1px solid #ccc;}
#divWeb ul { padding:0;}
#divWeb li { background:#e8f9ff; border-bottom:1px solid #ccc;}
#divWeb li span.paneltab { background-position:3px center;}
#divWeb li ul  { background:#f7f7f7;}
#divWeb li ul li { background:#f7f7f7;  padding:5px 20px;}
#divWeb li ul li:last-child { border:0;}
#divWeb li ul li.cat0 { border:0px !important;}
#divWeb li span.paneltab.paneltabplus { background-position:3px center !important;}

/*30th jully AddEditCategory.aspx*/

.divMessage {
 width:auto; padding:20px; font-size:13px; line-height:15px; color:000; background:#ccc;}

.dragblnextBlock .action:hover{z-index:999;}
.dragblnextBlock .action:hover a.icon{background-position:0 -244px;z-index:999;}


/***********************
********* Footer ******
************************/
footer 										{ padding:23px 0 26px 0; font-family: 'Open Sans', sans-serif;  font-size:12px; line-height:12px; font-weight:400; color:#474747; position:relative; z-index:99; }

/*Added 6th aug 15*/
.popover {width: 300px;}






/*Tablet Landscape */
@media  (min-width:768px) and (max-width:1024px) and (orientation:landscape)  
{
	
}
/*Tablet Portrait */
@media  (min-width:768px) and (max-width:1024px) and (orientation:portrait)  
{
#header .navbar-nav > li > a			{    padding: 12px  21px;}
.select_data h6								{ padding-bottom:10px;}	
.admin_page .left02						{ width:10%;}
.wrap_lang ul li .col-md-2				{ width:20%; float:left;}	
.select_data .col-md-2					{ margin-bottom:5px;}
.create_pg4 .no_padding .wrap_title .title	{ width:88%;}

}

/*Mobile */
@media  (min-width:320px) and (max-width:640px) 
{
		
	
}

/*Mobile Portrait */
@media  (min-width:320px) and (max-width:640px) and (orientation:portrait)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:640px) and (orientation:landscape)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:480px) and (orientation:landscape)  
{
	
}
/*New page*/
.page-banner {   background: none repeat scroll 0 0 #f4f4f4;    border: 1px solid #eee;    color: #666;    font-size: 18px;    font-weight: 700;    margin: 10px 0;    padding: 12px; width:100%; line-height: 20px;}
.yellowBtn{    background-color: #0098ce;     color: #fff;     display: block;     font-weight: 700;    margin: 2% auto;    padding: 5px;    text-align: center;    width: 150px; cursor:pointer;}
.yellowBtn:hover,  button:hover{color:#fff !important; background-color: #0098ce; }
.yellowAutoBtn{    background-color: #0098ce;     color: #fff;     display: inline-block;     font-weight: 700;    margin: 2% auto;    padding: 5px;    text-align: center;   cursor:pointer; line-height: 15px;}
.yellowWideBtn{ background-color: #0098ce;     color: #fff;     display: inline-block;     font-weight: 700; margin: 0 2px;  /* margin: 1% auto;*/    padding: 10px 20px;  text-align: center;   cursor:pointer; line-height: 15px;}
.yellowAutoBtn:hover, .yellowWideBtn:hover{ color: #fff;}
.form-group.borwseContainer p  { margin-top:8px;}
.row.adminBorderCont{margin:20px 0;}
.imageContent { margin-top: 10px; padding-left: 0;}
.admin_page .container .content p.panel-title{padding:5px 0; font-size:16px; line-height:16px;}
.previewImageContainer{border-left:1px solid #CCC; min-height: 120px;}
.panel-default > .panel-heading{ line-height: 18px;}
.panel-body .thumbnail{text-align:center;}
.sortable-placeholder {margin-left: 0 !important; border: 1px solid #ccc; background-color: yellow; -webkit-box-shadow: 0px 0px 10px #888;   -moz-box-shadow: 0px 0px 10px #888; box-shadow: 0px 0px 10px #888;}
.imageDragPanel {background-color: #ffffff; border: 2px dotted #ccc; border-radius: 5px; display: inline-block; margin: 10px 6px 10px 10px; padding: 10px;   text-align: left; position:relative; cursor:move;}
.imageDragPanel:hover, .imageDragPanel.active{color:#1e4d61; border: 2px dotted #1e4d61; }
.ui-sortable {padding:10px;}
.closeImageBtn{  background-color: #1e4d61;    border-radius: 100%;    color: #fff; font-size: 10px; line-height:10px;   height: 20px;    padding: 2px 0px;    position: absolute;    right: -10px;    text-align: center;    top: -10px;    width: 20px;}
.closeImageBtn:before{content:"X";}
.closeImageBtn:hover{color:#0098ce;}
.checkBoxImage{  text-align: right;   position: absolute;  right: 10px;}
.imageBlk {background-color: #ccc; height: 100px;  width: 130px;  display: table-cell;  vertical-align: middle}
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{ content: "";}
.form-group.borwseContainer .browsePdf{float: right;   padding: 2px 10px;  margin: 0 0px;  background-color: #CCC;  color: #777;  cursor: pointer;}
.form-group .input-xlarge{  width: 75%;}
.form-group.borwseContainer .browsePdf:hover{color:#000000;}
.form-group input[disabled]{border: 0;   padding: 4px;  background-color: transparent;}
.adminBorderCont{border:1px solid #CCC; padding:15px 0px;}
.browseComponenet.form-control{width:67%; height:auto; display:inline-block; /*padding-bottom: 4px;*/}
input[type="file"]{position:absolute;}
.checkboxControl .btn  { float:right; margin-right:15px;}
.admin_page .container .content p.panel-title span { font-weight:400;}

/*Addded on 7th Aug 2015*/
.uploadedimage{width:100%;height:auto;}
#FUCategory {width: 200px;height: 200px;}
#FUBanner {width: 1000px;height: 200px;}
.qq-upload-list li { position:relative;}
.cloaseuplod1 {position: absolute !important; right: 0;top: 0;}

/*table style with action*/
.midleDrgblecontin.new{}
.midleDrgblecontin.new td{border:1px solid #ccc;width:33.33337%;padding:5px;text-align:left;}
.midleDrgblecontin.new th {border:1px solid #ddd; width:33.33337%;padding:5px;text-align:left;    }
.midleDrgblecontin.new th.fourthtd { text-align:center;    }
.midleDrgblecontin.new table{border-collapse:collapse;}
.midleDrgblecontin.new th:first-child,.midleDrgblecontin.new td:first-child{width:20%;}
.midleDrgblecontin.new th.fourthtd,.midleDrgblecontin.new td.fourthtd{width:10%;}
#ULLI{ background:#f2fcff;}
.bg_title { background:#ccc;}
#ULLI.dragblnextBlock li:nth-child(2n) {background:#f2fcff;}

#select_lang { margin-top:8px;}
#table_look {margin-bottom:10px;}
#table_look table { table-layout:fixed; }
.manage_st_content { margin:10px 0 0 0;}
.pro_filter { padding:0; padding-top:10px;}

/*.pro_filter li:first-child {border-top:1px solid #ccc;}*/



/*Added on 24th Aug 2015*/
#divWeb	 .textIcon.paneltab {border-bottom:0;}
#header .navbar-nav > li > a {   padding: 12px 16px;}
.collapsableMenu a { position: relative;}
.midleDrgblecontin.new  {padding-bottom: 20px; }
.admin_page .wrap_container { min-height:600px;}
#table_look textarea { min-height:auto;}
.pro_filter li:first-child { background:#ccc;}

/*Added on 25th Aug 2015*/
#webLink input { margin-right:10px;}
#dvPLSorting input[type="checkbox"] { margin-right:5px;}
#dvDisplayType input[type="checkbox"] { margin-right:5px;}



/*slideshow*/
.slideshow.select_data  .select-style select		{ color:#666666;}
.admin_page .container .content  .slideshow.select_data .col-md-9 p	{font-size:13px; line-height:18px; font-weight:400; color:#666666; margin:6px 0 0 0; width:100%; float:left;}
.slideshow.select_data ul						{ margin:0; padding:0; list-style:none; width:100%;}
.slideshow.select_data ul	li {border-bottom:1px solid #cccccc; float:left; width:100%; padding:10px 0;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .size01	{font-size:14px; line-height:14px; font-weight:600; color:#666666; float:left;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6 label { width:100%; color:#666666 !important; }
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  label { color:#666666 !important;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6 { padding-left:6px;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .disc  { float:left; width:30px; margin:3px 0 0 10px;}
.select_data .selectpicker.slidesize01 { width:100%;}