/****************************Mobile Media Query ***********************************/

/*Tablet Landscape */
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    
}
/*Tablet Portrait */
@media  (min-width:768px) and (max-width:1024px) and (orientation:portrait)  
{
    
}

/*Mobile */
@media  (min-width:320px) and (max-width:640px) 
{
	   
/********Header LINK AND BG********/
.headerLink{font-size: 14px !important;}
 
/********HEADER MENU********/
.menuLink{font-size: 14px !important;}

/*******COMMON HYPERLINK**********/
.hyperLink{font-size: 14px !important;}

/****PAGE TITLE AND TEXT***/
.pageHeading{font-size: 22px !important;}
.pageTitle {font-size: 17px !important;}
.pageText {font-size: 14px !important;padding:0 5px 0 5px}
.pageSubTitle{font-size: 14px !important;}
.pageHighlightText{font-size: 12px !important;}

/********FOOTER LINK AND FOOTER BACKGROUND********/
.footerText{font-size: 12px !important; }
.footerLink{font-size: 14px !important;}

/*****COMMON TABS******/
.customTabs .nav-tabs > li > a {font-size: 14px !important;}

/** PRODUCT  PAGE  / PRODUCT WIDGET / PRODUCT LISTING  / AND DETAIL PAGE**/
.productCode{font-size: 18px !important;}
.productName{font-size: 14px !important;}
.productPrice {font-size: 18px !important;}
.productDescription{font-size: 14px !important;}
.priceFilterBtn button {font-size: 9px;}

}

/*Mobile Portrait */
@media  (min-width:320px) and (max-width:640px) and (orientation:portrait)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:640px) and (orientation:landscape)  
{
    
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:480px) and (orientation:landscape)  
{
	
}



/*.menuBg { background:none !important;}
    Added on 15_1_16
    .navbar-inverse .navbar-nav > li > a { background:#eaeaea; border-radius:0 5px 5px 0;}
.navbar-inverse .navbar-nav > li > a { color:#000;}
    */



