﻿/********Header LINK AND BG********/
.headerLink{color:@HeaderLinkColor@ !important;/* font-family: @HeaderLinkFF@ !important;*/
            font-size: @HeaderLinkFS@px !important;font-weight: @HeaderLinkFW@ !important;
            font-style: @HeaderLinkFStyle@ !important;
            text-decoration: @HeaderLinkFD@ !important;}
.headerLink:hover{color:@HeaderLinkHoverColor@ !important; }
.active .headerLink{color:@HeaderLinkActiveColor@ !important; }
.headerBg{background-color:@HeaderBg@ !important;}
/*.dropdown.open .headerLink{background-color:@HeaderLinkDropDownBg@ !important; color:@HeaderLinkActiveColor@ !important;}*/
.header_panel li > .dropdown-menu {background-color:@HeaderLinkPanelDropDownBg@ !important;} 
 
/********HEADER MENU********/
.menuLink{color:@MenuLinkColor@ !important; /*font-family: @MenuLinkFF@ !important;*/font-size: @MenuLinkFS@px !important;font-weight: @MenuLinkFW@ !important;font-style: @MenuLinkFFStyle@ !important;text-decoration: @MenuLinkFD@ !important;}
.menuLink:hover{color:@MenuLinkHoverColor@ !important;}
/*NEW*/.open .menuBg{background-color:@MenuOpenBg@ !important;}
.menuBg{background-color:@MenuBg@ !important;}
ul.categoryMenu li .dropdown-menu {background-color:@ProductCategoryDropDownMenuPanelBg@ !important;}

/********HEADER LINK DROPDOWN********/
/*Edited*/.dropdown-menu > li > a{color:@liDropDownMenuColor@ !important; /*font-family: @liDropDownMenuFF@ !important;*/font-size: @liDropDownMenFS@px !important;font-weight: @liDropDownMenFW@px !important;font-style: @liDropDownMenFStyle@ !important;text-decoration: @liDropDownMenFD@px !important;}
.dropdown-menu > li > a:hover{background-color:@liDropDownMenuHoverBg@ !important; color:@liDropDownMenuHoverColor@ !important;}
.dropdown-menu > li > a.active{color:@liDropDownMenuActiveColor@ !important;}
/*NEW*/.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{color:@liDropDownMenuActiveColor@ !important; background-color:@liDropDownMenuActiveBgColor@ !important;}


/*******BREADCRUMB**********/
/*NEW*/.customBreadcrumbBg{background-color:@BreadcrumbBgColor@ !important;}
/*NEW*/.customBreadcrumb{color:@BreadcrumbColor@ !important; /*font-family:@BreadcrumbFF@ !important;*/font-size:@BeradcrumbFS@px !important;font-weight: @BeradcrumbFW@ !important;font-style: @BeradcrumbFStyle@ !important;text-decoration: @BeradcrumbFD@ !important;}
/*NEW*/a.customBreadcrumb:hover{color:@BreadcrumbHoverColor@ !important;text-decoration: @BreadcrumbHoverFD@ !important;}
/*NEW*/.customBreadcrumbActive{color:@BreadcrumbActiveColor@ !important;}

/*******COMMON HYPERLINK**********/
.hyperLink{color:@HyperLnkColor@ !important; /*font-family: @HyperLnkFF@ !important;*/font-size: @HyperLnkFS@px !important;font-weight: @HyperLnkFW@ !important;font-style: @HyperLnkFFStyle@ !important;text-decoration: @HyperLnkFD@ !important;}
/*1 Update*/.hyperLink:hover{color:@HyperLnkHoverColor@ !important;text-decoration: @HyperLnkHoverFD@ !important;}
/*NEW*/.hyperLinkSml{color:@HyperLnkSmlColor@ !important; /*font-family: @HyperLnkSmlFF@ !important;*/font-size: @HyperLnkSmlFS@px !important;font-weight: @HyperLnkSmlFW@ !important;font-style: @HyperLnkSmlFFStyle@ !important;text-decoration: @HyperLnkSmlFD@ !important;}
/*NEW*/.hyperLinkSml:hover{color:@HyperLnkSmlHoverColor@ !important; text-decoration: @HyperLnkSmlHoverFD@ !important;}

/****PAGE TITLE AND TEXT***/
.pageHeading{color:@PageHeadingColor@ !important; background-color:@PageHeadingBg@ !important; /*font-family: @PageHeadingFF@ !important;*/font-size: @PageHeadingFS@px !important;font-weight: @PageHeadingFW@ !important;font-style: @PageHeadingFStyle@ !important;text-decoration: @PageHeadingFD@ !important;}
/*NEW*/.pageHeading1{color:@PageHeading1Color@ !important; /*font-family: @PageHeading1FF@ !important;*/font-size: @PageHeading1FS@px  !important;font-weight: @PageHeading1FW@ !important;font-style: @PageHeading1FStyle@ !important;text-decoration: @PageHeading1FD@ !important;}
/*NEW*/.pageHeading2{color:@PageHeading2Color@ !important; /*font-family: @PageHeading2FF@ !important;*/font-size: @PageHeading2FS@px  !important;font-weight: @PageHeading2FW@ !important;font-style: @PageHeading2FStyle@ !important;text-decoration: @PageHeading2FD@ !important;}
/*NEW*/.pageHeading3{color:@PageHeading3Color@ !important; /*font-family: @PageHeading3FF@ !important;*/font-size: @PageHeading3FS@px  !important;font-weight: @PageHeading3FW@ !important;font-style: @PageHeading3FStyle@ !important;text-decoration: @PageHeading3FD@ !important;}

.pageTitle {color:@PageTitleColor@ !important;  /*font-family: @PageTitleFF@ !important;*/font-size: @PageTitleFS@px !important;font-weight: @PageTitleFW@ !important;font-style: @PageTitleFStyle@ !important;text-decoration: @PageTitleFD@ !important;}
.pageText {color:@PageTextColor@ !important;/*font-family: @PageTextFF@ !important;*/font-size: @PageTextFS@px !important;font-weight: @PageTextFW@ !important;font-style: @PageTextFStyle@ !important;text-decoration: @PageTextFD@ !important;}
/*NEW*/.pageSmlText {color:@PageSmlTextColor@ !important;/*font-family: @PageSmlTextFF@ !important;*/font-size: @PageSmlTextFS@px !important;font-weight: @PageSmlTextFW@ !important;font-style: @PageSmlTextFStyle@ !important;text-decoration: @PageSmlTextFD@ !important;}
.pageSubTitle{color: @PageSubTitleColor@;/*font-family: @PageSubTitleFF@ !important;*/font-size: @PageSubTitleFS@px !important; font-weight: @PageSubTitleFW@ !important;font-style: @PageSubTitleFStyle@ !important;text-decoration: @PageSubTitleFD@ !important;}
/*NEW*/.pageSubSubTitle{color: @PageSubSubTitleColor@ !important; /*font-family: @PageSubSubTitleFF@ !important;*/font-size: @PageSubSubTitleFS@px !important; font-weight: @PageSubSubTitleFW@ !important;font-style: @PageSubSubTitleFStyle@ !important;text-decoration: @PageSubSubTitleFD@ !important;}
/*NEW*/.pageScrollLinks{color:@PageScrollLinksColor@ !important;/*font-family: @PageScrollLinksFF@ !important;*/font-size: @PageScrollLinksFS@px !important; font-weight: @PageScrollLinksFW@ !important;font-style: @PageScrollLinksFStyle@ !important;text-decoration: @PageScrollLinksFD@ !important;}
/*NEW*/.pageScrollLinks:hover{color:@PageScrollLinksHoverColor@ !important; text-decoration: @PageScrollLinksHoverFD@ !important;}
.pageHighlightText{color:@pageHighlightTextColor@ !important;/*font-family: @pageHighlightTextFF@ !important;*/font-size: @pageHighlightTextFS@px !important;   font-weight: @pageHighlightTextFW@;font-style: @pageHighlightTextFStyle@ !important;text-decoration: @pageHighlightTextFD@ !important;}

/**CUSTOM BUTTON**/
/*1 Update*/.customButton{background-color:@customButtonBg@ !important; color:@customButtonColor@ !important;border-color:@customButtonBorderColor@ !important;}
/*1 Update*/.customButton:hover{background-color:@customButtonHoverBg@ !important; color:@customButtonHoverColor@ !important;border-color:@customButtonBorderHoverColor@ !important;}

/*1 Update*/.customActionBtn{background-color:@customActionBtnBg@  !important; color:@customActionBtnColor@ !important;border-color:@customActionBtnBorderColor@ !important;}
/*1 Update*/.customActionBtn:hover{background-color:@customActionBtnHoverBg@ !important; color:@customActionBtnHoverColor@ !important;border-color:@customActionBtnBorderHoverColor@ !important;}
/*NEW*//*.customActionBtn.active{background-color:@customActionActiveBtnBg@ !important; color:@customActionActiveColor@ !important;  border-color:@customActionActiveBorderColor@ !important;}*/
       
/*1 Update*/.customResetBtn{background-color:@customResetBtnBg@ !important;  color:@customResetBtnColor@ !important;border-color:@customResetBtnBorderColor@ !important;}
/*1 Update*/.customResetBtn:hover{background-color:@customResetBtnHoverBg@ !important;  color:@customResetBtnHoverColor@ !important;border-color:@customResetBtnHoverBorderColor@ !important;}
            
/*NEW*/.customClose {color:@customCloseColorBg@ !important;font-size: @customCloseFS@px !important;}  
/*NEW*/.customClose:hover {color:@customCloseHoverColorBg@ !important;}

/*******COMMON MODAL, PANEL & TABLE**********/
/*MODAL*/
.customPanel.panel-heading, .customPanel thead, .customPanel.modal-header, .customPanel .modal-title {background-color:@customPanelBg@ !important;color:@customPanelColor@ !important;}

/*CUSTOM PANEL*/
/*NEW*/.customPanel.panel{border-color:@customPanelBorderColor@ !important;}
/*NEW*/.customPanel.panel-heading{background-color:@customPanelHeadingBgColor@ !important;color:@customPanelHeadingColor@ !important;}

/*CUSTOM TABLE*/
/*Edited*/.customTable td, .customTable th, customTable tr, .customTable thead th{border:1px solid @customTableBorder@ !important;}
/*NEW*/.customTableHeaderTitle{color:@customTableHeaderTitleColor@ !important; background-color:@customTableHeaderTitleBgColor@; /*font-family: @customTableHeaderTitleFF@ !important;*/font-size: @customTableHeaderTitleFS@px !important;font-weight: @customTableHeaderTitleFW@ !important;font-style: @customTableHeaderTitleFStyle@ !important;text-decoration: @customTableHeaderTitleFD@ !important;}
/*NEW*/.customTableHead{color:@customTableHeadColor@ !important; /*font-family: @customTableHeadFF@ !important;*/font-size: @customTableHeadFS@px !important;font-weight: @customTableHeadFW@ !important;font-style: @customTableHeadFStyle@ !important;text-decoration: @customTableHeadFD@ !important;}
/*NEW*/.customTableText, .customTableText td{color:@customTableTextColor@ !important;/*font-family: @customTableTextFF@ !important;*/font-size: @customTableTextFS@px !important;font-weight: @customTableTextFW@ !important;font-style: @customTableTextFStyle@ !important;text-decoration: @customTableTextFD@ !important;}
/*NEW*/.customTableHeadingText{color:@customTableHeadingTextColor@ !important; /*font-family: @customTableHeadingTextFF@ !important;*/font-size:  @customTableHeadingTextFS@px !important;font-weight: @customTableHeadingTextFW@ !important;font-style: @customTableHeadingTextFStyle@ !important;text-decoration: @customTableHeadingTextFD@ !important;}

/***CUSTOM RATING*****/
/*Edited*/.glyphicon-star {color:@customRatingsStarColor@ !important;}                                                                  
/*Edited*/.glyphicon-star-empty {background-color:@customRatingsContainerBgColor@ !important;color:@customRatingsContainerColor@ !important;}

/*****COMMON TABS******/
.tabBg {background-color:@TabBg@;}
.customTabs .nav-tabs > li > a {color:@customTabsAColor@ !important;background-color:@customTabsABg@ !important;/*font-family: @customTabsAFF@ !important;*/font-size: @customTabsAFS@px !important;font-weight: @customTabsAFW@ !important;font-style: @customTabsAFStyle@ !important;text-decoration: @customTabsAFD@ !important;}
.customTabs .nav-tabs > li > a:hover { color:@customTabsAHoverColor@ !important;background-color:@customTabsAHoverBg@ !important;}
.customTabs .nav-tabs > li.active > a, .customTabs .nav-tabs > li.active > a:hover {color:@customTabsActiveColor@ !important;background-color:@customTabsActiveBg@ !important;}

/******FORM ELEMENTS******/
/*NEW*/.customLabel{color:@customLabelColor@ !important;/*font-family: @customLabelFF@ !important;*/font-size: @customLabelFS@px !important;font-weight: @customLabelFW@ !important;font-style: @customLabelFStyle@ !important;text-decoration: @customLabelFD@ !important;}
/*NEW*/.customInput{color:@customInputColor@ !important;/*font-family: @customInputFF@ !important;*/font-size: @customInputFS@px !important;border-color:@customInputBorderColor@ !important; font-weight: @customInputFW@ !important;}

/*****CUSTOM ACCORDIONS******/
/*NEW*/.customAccordions  {background-color:@customAccordionColor@ !important;}
/*NEW*/.customAccordions:hover,.customAccordions.active  {background-color:@customAccordionBgColor@ !important;}
/*NEW*/.customAccordionsText  {color:@customAccordionTextColor@ !important;/*font-family: @customAccordionTextFF@ !important;*/font-size: @customAccordionTextFS@px !important;font-weight:  @customAccordionTextFW@ !important;font-style: @customAccordionTextFStyle@ !important;text-decoration: @customAccordionTextFD@ !important;}
/*NEW*/.customAccordionsText:hover, .customAccordionsText.active {color:@customAccordionTextActiveColor@ !important;}

/*******CUSTOM TOGGLE********/
/*NEW*/.customToggle{color:@customToggleColor@ !important;background-color:@customToggleBgColor@ !important;}
/*NEW*/.customToggle:hover{color:@customToggleHoverColor@ !important;background-color:@customToggleBgHoverColor@ !important;}
/*NEW*/.customCurrencyIcon {color:@customCurrencyIconColor@ !important;/*font-family: @customCurrencyIconColorFF@ !important;*/font-size: @customCurrencyIconFS@px !important;font-weight: @customCurrencyIconFW@ !important;font-style: @customCurrencyIconFStyle@ !important;text-decoration: @customCurrencyIconFD@ !important;}
/*NEW*/.customCurrencyIcon:hover {color:@customCurrencyIconColorHover@ !important;}
/*NEW*/.customCurrencyText {color:@customCurrencyTextColor@ !important;/*font-family: @customCurrencyTextFF@ !important;*/font-size: @customCurrencyFS@px !important;font-weight: @customCurrencyFW@ !important;font-style: @customCurrencyFStyle@ !important;text-decoration: @customCurrencyFD@ !important;}
/*NEW*/.customCurrencyText:hover {color:@customCurrencyTextColorHover@ !important;}


/** PRODUCT  PAGE  / PRODUCT WIDGET / PRODUCT LISTING  / AND DETAIL PAGE**/
/*NEW*/.productTitle{color:@ProductTitleColor@ !important;/*font-family: @ProductTitleFF@ !important;*/font-size: @ProductTitleFS@px !important;font-weight: @ProductTitleFW@ !important;font-style: @ProductTitleFStyle@ !important;text-decoration: @ProductTitleFD@ !important;}
.productCode{color:@ProductCodeColor@ !important;/*font-family: @ProductCodeFF@ !important;*/font-size: @ProductCodeFS@px !important;font-weight: @ProductCodeFW@ !important;font-style: @ProductCodeFStyle@ !important;text-decoration: @ProductCodeFD@ !important;}
.productName{color:@ProductNameColor@ !important;/*font-family: @ProductNameFF@ !important;*/font-size: @ProductNameFS@px !important;font-weight: @ProductNameFW@ !important;font-style: @ProductNameFStyle@ !important;text-decoration: @ProductNameFD@ !important;}
/*NEW */.productSmlName{color:@ProductSmlNameColor@ !important;/*font-family: @ProductSmlNameFF@ !important;*/font-size: @ProductSmlNameFS@px !important;font-weight: @ProductSmlNameFW@ !important;font-style: @ProductSmlNameFStyle@ !important;text-decoration: @ProductSmlNameFD@ !important;}
.productPrice {color:@ProductPriceColor@ !important;/*font-family: @ProductPriceFF@ !important;*/font-size: @ProductPriceFS@px !important;font-weight: @ProductPriceFW@ !important;font-style: @ProductPriceFStyle@ !important;text-decoration: @ProductPriceFD@ !important;}
.productDescription{color:@productDescriptionColor@ !important;/*font-family: @productDescriptionFF@ !important;*/font-size: @productDescriptionFS@px !important;font-weight: @productDescriptionFW@ !important;font-style: @productDescriptionFStyle@ !important;text-decoration: @productDescriptionFD@ !important;}
.productBorder{border:1px solid @ProductBorder@ !important;}
.productBorder:hover{border:1px solid @ProductBorderHover@ !important;}
.productBorder:hover .productName{color:@ProductBorderHoverProductNameColor@ !important;}

/**OWL CUSTOM SLIDER**/
.owl-buttons .owl-prev, .owl-buttons .owl-next {color:@OwlButtonsColor@ !important;background-color:@OwlButtonsBg@  !important;}
.owl-buttons .owl-prev:hover, .owl-buttons .owl-next:hover {background-color:@OwlButtonsHoverBg@  !important; color:@OwlButtonsHoverColor@ !important;}
.owl-carousel{background-color:@OwlCarouselBg@ !important; border-color:@OwlCarouselBorderColor@ !important;}

/********FOOTER LINK AND FOOTER BACKGROUND********/
.footerText{color:@FooterTextColor@ !important;/*font-family: @FooterTextFF@ !important;*/font-size: @FooterTextFS@px !important;font-weight: @FooterTextFW@ !important;font-style: @FooterTextFFStyle@ !important;text-decoration: @FooterTextFD@ !important; }
.footerLink{color:@FooterLinkcolor@ !important;/*font-family: @FooterLinkFF@ !important;*/font-size: @FooterLinkFS@px !important;font-weight: @FooterLinkFW@ !important;font-style: @FooterLinkFFStyle@ !important;text-decoration: @FooterLinkFD@ !important; }
.footerLink:hover{color:@FooterLinkHoverColor@ !important;}
.footerBg{background-color:@FooterBg@ !important;}

/*NEW*/.homepageRowPadding { padding-top:@HomePageRowPAddingTop@px !important ; padding-bottom:@HomePageRowPAddingTop@px }


/********Added by Sripal HEADER LINK DROPDOWN********/

/*NEW*/
.navbarH-inverse .navbarH-nav > .open > a, .navbarH-inverse .navbarH-nav > .open > a:hover, .navbarH-inverse .navbarH-nav > .open > a:focus
       {color:@HeaderLinkDropDownMenuActiveColor@ !important; background-color:@HeaderLinkDropDownMenuActiveBgColor@ !important;}

/*HEADERLINK*/       .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

       }

/*Products Category*/
.dropdownH.open .headerLink{background-color:@liDropDownBg@ !important;color:@MenuLinkColor@ !important; }
/*Products Category*/

/********Added by Sripal productdetail ICON LINK ********/
.proddeticon{color:@pdHyperLnkColor@ !important; /*font-family: @HyperLnkFF@ !important;*/
             font-size: @pdHyperLnkFS@px !important;font-weight: @pdHyperLnkFW@ !important;
             font-style: @pdHyperLnkFFStyle@ !important;text-decoration: @pdHyperLnkFD@ !important;}
/*1 Update*/.proddeticon:hover{color:@pdHyperLnkHoverColor@ !important;text-decoration: @pdHyperLnkHoverFD@ !important;}
/********End by Sripal productdetail ICON LINK ********/

.sitelinks .navbar-default .navbar-nav > li > a {
  color:@HeaderLinkDropDownMenuActiveColor@;
}
.sitelinks .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   color:@HeaderLinkDropDownMenuActiveColor@ !important; background-color:@HeaderLinkDropDownMenuActiveBgColor@ !important;
}
.sitelink > .dropdown-menu > li > a {
    color:@HeaderLinkDropDownMenuColor@ !important; 
    font-size: @HeaderLinkDropDownMenFS@px !important;                                                            
    font-weight: @HeaderLinkMenuLinkFW@ !important;
    font-style: @HeaderLinkDropdownFStyle@ !important;
    text-decoration: @HeaderLinkDropdownFD@ !important;
}
.sitelink > .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
   background-color:@HeaderLinkDropDownMenuHoverBg@ !important; 
   color:@HeaderLinkDropDownMenuHoverColor@ !important;
}
.sitelink > .dropdown-menu > li > a.active{background-color:@HeaderLinkPanelDropDownActiveItemBg@ !important;}


.hyp {text-decoration:@HyperlinkHoverFD@ !important;}
/*End by Sripal*/

/*ADD By Geeti*/

.price_was {color:@StrikePriceTxtColor@ !important;}
.fa.fa-search {font-size:@SearchIconFS@px !important;color:@SearchIconTxtColor@ !important; }
.fa.fa-shopping-basket {font-size:@BasketIconFS@px !important;color:@BasketIconTxtColor@ !important;}

/*END By Geeti*/




























