/********Header LINK AND BG********/
.headerLink{color:#004e98 !important;/* font-family: Open-Sans !important;*/
            font-size: 14px !important;font-weight: 100 !important;
            font-style: normal !important;
            text-decoration: none !important;}
.headerLink:hover{color:#337ab7 !important; }
.active .headerLink{color:#337ab7 !important; }
.headerBg{background-color:#007cbf !important;}
/*.dropdown.open .headerLink{background-color:#000000 !important; color:#337ab7 !important;}*/
.header_panel li > .dropdown-menu {background-color:#004e98 !important;} 
 
/********HEADER MENU********/
.menuLink{color:#444444 !important; /*font-family: Open-Sans !important;*/font-size: 14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.menuLink:hover{color:#ff0000 !important;}
/*NEW*/.open .menuBg{background-color:#000000 !important;}
.menuBg{background-color:#007cbf !important;}
ul.categoryMenu li .dropdown-menu {background-color:#004e98 !important;}

/********HEADER LINK DROPDOWN********/
/*Edited*/.dropdown-menu > li > a{color:#2a4759 !important; /*font-family: Arial !important;*/font-size: 14px !important;font-weight: 200px !important;font-style: normal !important;text-decoration: nonepx !important;}
.dropdown-menu > li > a:hover{background-color:#007cbf !important; color:#333333 !important;}
.dropdown-menu > li > a.active{color:#2a4759 !important;}
/*NEW*/.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{color:#2a4759 !important; background-color:#808080 !important;}


/*******BREADCRUMB**********/
/*NEW*/.customBreadcrumbBg{background-color:#f5f5f5 !important;}
/*NEW*/.customBreadcrumb{color:#337ab7 !important; /*font-family:Arial !important;*/font-size:16px !important;font-weight: 900 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/a.customBreadcrumb:hover{color:#23527c !important;text-decoration: none !important;}
/*NEW*/.customBreadcrumbActive{color:#777777 !important;}

/*******COMMON HYPERLINK**********/
.hyperLink{color:#000000 !important; /*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*1 Update*/.hyperLink:hover{color:#000000 !important;text-decoration: none !important;}
/*NEW*/.hyperLinkSml{color:#337ab7 !important; /*font-family: Arial !important;*/font-size: 14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.hyperLinkSml:hover{color:#23527c !important; text-decoration: none !important;}

/****PAGE TITLE AND TEXT***/
.pageHeading{color:#000000 !important; background-color:#007cbf !important; /*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageHeading1{color:#808080 !important; /*font-family: Arial !important;*/font-size: 14px  !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageHeading2{color:#808080 !important; /*font-family: Arial !important;*/font-size: 14px  !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageHeading3{color:#808080 !important; /*font-family: Arial !important;*/font-size: 14px  !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}

.pageTitle {color:#000000 !important;  /*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.pageText {color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageSmlText {color:#808080 !important;/*font-family: Arial !important;*/font-size: 14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.pageSubTitle{color: #000000;/*font-family: Open-Sans !important;*/font-size: 9px !important; font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageSubSubTitle{color: #007cbf !important; /*font-family: Arial!important;*/font-size: 14px !important; font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageScrollLinks{color:#337ab7 !important;/*font-family: Arial!important;*/font-size: 14px !important; font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.pageScrollLinks:hover{color:#23527c !important; text-decoration: none !important;}
.pageHighlightText{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;   font-weight: 100;font-style: normal !important;text-decoration: none !important;}

/**CUSTOM BUTTON**/
/*1 Update*/.customButton{background-color:#000000 !important; color:#333333 !important;border-color:#e7e7e7 !important;}
/*1 Update*/.customButton:hover{background-color:#e6e6e6 !important; color:#333333 !important;border-color:#adadad !important;}

/*1 Update*/.customActionBtn{background-color:#337ab7  !important; color:#000000 !important;border-color:#2e6da4 !important;}
/*1 Update*/.customActionBtn:hover{background-color:#286090 !important; color:#000000 !important;border-color:#204d74 !important;}
/*NEW*//*.customActionBtn.active{background-color:#000000 !important; color:#000000 !important;  border-color:#000000 !important;}*/
       
/*1 Update*/.customResetBtn{background-color:#cccccc !important;  color:#000000 !important;border-color:#000000 !important;}
/*1 Update*/.customResetBtn:hover{background-color:#000000 !important;  color:#ff0000 !important;border-color:#adadad !important;}
            
/*NEW*/.customClose {color:#337ab7 !important;font-size: 14px !important;}  
/*NEW*/.customClose:hover {color:#23527c !important;}

/*******COMMON MODAL, PANEL & TABLE**********/
/*MODAL*/
.customPanel.panel-heading, .customPanel thead, .customPanel.modal-header, .customPanel .modal-title {background-color:#f5f5f5 !important;color:#007cbf !important;}

/*CUSTOM PANEL*/
/*NEW*/.customPanel.panel{border-color:#c0c0c0 !important;}
/*NEW*/.customPanel.panel-heading{background-color:#c0c0c0 !important;color:#000000 !important;}

/*CUSTOM TABLE*/
/*Edited*/.customTable td, .customTable th, customTable tr, .customTable thead th{border:1px solid #cccccc !important;}
/*NEW*/.customTableHeaderTitle{color:#007cbf !important; background-color:#f5f5f5; /*font-family: Arial !important;*/font-size: 16px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customTableHead{color:#007cbf !important; /*font-family: Open-Sans !important;*/font-size: 14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customTableText, .customTableText td{color:#808080 !important;/*font-family: Open-Sans !important;*/font-size: 14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customTableHeadingText{color:#808080 !important; /*font-family: Open-Sans !important;*/font-size:  14px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}

/***CUSTOM RATING*****/
/*Edited*/.glyphicon-star {color:#007cbf !important;}                                                                  
/*Edited*/.glyphicon-star-empty {background-color:#000000 !important;color:#007cbf !important;}

/*****COMMON TABS******/
.tabBg {background-color:#000000;}
.customTabs .nav-tabs > li > a {color:#007cbf !important;background-color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 16px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.customTabs .nav-tabs > li > a:hover { color:#555555 !important;background-color:#e7e7e7 !important;}
.customTabs .nav-tabs > li.active > a, .customTabs .nav-tabs > li.active > a:hover {color:#555555 !important;background-color:#000000 !important;}

/******FORM ELEMENTS******/
/*NEW*/.customLabel{color:#808080 !important;/*font-family: Open-Sans !important;*/font-size: 13px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customInput{color:#808080 !important;/*font-family: Open-Sans !important;*/font-size: 13px !important;border-color:#cccccc !important; font-weight: 100 !important;}

/*****CUSTOM ACCORDIONS******/
/*NEW*/.customAccordions  {background-color:#a0a0a0 !important;}
/*NEW*/.customAccordions:hover,.customAccordions.active  {background-color:#808080 !important;}
/*NEW*/.customAccordionsText  {color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 13px !important;font-weight:  100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customAccordionsText:hover, .customAccordionsText.active {color:#000000 !important;}

/*******CUSTOM TOGGLE********/
/*NEW*/.customToggle{color:#000000 !important;background-color:#007cbf !important;}
/*NEW*/.customToggle:hover{color:#000000 !important;background-color:#808080 !important;}
/*NEW*/.customCurrencyIcon {color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 40px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customCurrencyIcon:hover {color:#000000 !important;}
/*NEW*/.customCurrencyText {color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 16px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW*/.customCurrencyText:hover {color:#000000 !important;}


/** PRODUCT  PAGE  / PRODUCT WIDGET / PRODUCT LISTING  / AND DETAIL PAGE**/
/*NEW*/.productTitle{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.productCode{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.productName{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
/*NEW */.productSmlName{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.productPrice {color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.productDescription{color:#000000 !important;/*font-family: Open-Sans !important;*/font-size: 9px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important;}
.productBorder{border:1px solid #000000 !important;}
.productBorder:hover{border:1px solid #000000 !important;}
.productBorder:hover .productName{color:#000000 !important;}

/**OWL CUSTOM SLIDER**/
.owl-buttons .owl-prev, .owl-buttons .owl-next {color:#000000 !important;background-color:#000000  !important;}
.owl-buttons .owl-prev:hover, .owl-buttons .owl-next:hover {background-color:#000000  !important; color:#000000 !important;}
.owl-carousel{background-color:#000000 !important; border-color:#000000 !important;}

/********FOOTER LINK AND FOOTER BACKGROUND********/
.footerText{color:#f5f5f5 !important;/*font-family: Open-Sans !important;*/font-size: 12px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important; }
.footerLink{color:#f5f5f5 !important;/*font-family: Open-Sans !important;*/font-size: 12px !important;font-weight: 100 !important;font-style: normal !important;text-decoration: none !important; }
.footerLink:hover{color:#f5f5f5 !important;}
.footerBg{background-color:#808080 !important;}

/*NEW*/.homepageRowPadding { padding-top:5px !important ; padding-bottom:5px }


/********Added by Sripal HEADER LINK DROPDOWN********/

/*NEW*/
.navbarH-inverse .navbarH-nav > .open > a, .navbarH-inverse .navbarH-nav > .open > a:hover, .navbarH-inverse .navbarH-nav > .open > a:focus
       {color:#337ab7 !important; background-color:#ff0000 !important;}

/*HEADERLINK*/       .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

       }

/*Products Category*/
.dropdownH.open .headerLink{background-color:#000000 !important;color:#444444 !important; }
/*Products Category*/

/********Added by Sripal productdetail ICON LINK ********/
.proddeticon{color:#000000 !important; /*font-family: Open-Sans !important;*/
             font-size: 9px !important;font-weight: 100 !important;
             font-style: normal !important;text-decoration: none !important;}
/*1 Update*/.proddeticon:hover{color:#000000 !important;text-decoration: none !important;}
/********End by Sripal productdetail ICON LINK ********/

.sitelinks .navbar-default .navbar-nav > li > a {
  color:#337ab7;
}
.sitelinks .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   color:#337ab7 !important; background-color:#ff0000 !important;
}
.sitelink > .dropdown-menu > li > a {
    color:#404040 !important; 
    font-size: 12px !important;                                                            
    font-weight: 400 !important;
    font-style: normal !important;
    text-decoration: none !important;
}
.sitelink > .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
   background-color:#ff0000 !important; 
   color:#444444 !important;
}
.sitelink > .dropdown-menu > li > a.active{background-color:#a0a0a0 !important;}


.hyp {text-decoration:none !important;}
/*End by Sripal*/

/*ADD By Geeti*/

.price {color:#ff0000 !important;}
.fa.fa-search {font-size:20px !important;color:#007cbf !important; }
.fa.fa-shopping-basket {font-size:24px !important;color:#007cbf !important;}

.basketCount{background-color:#ff0000 !important;color:#e0e0e0!important;}
/*END By Geeti*/































