/*************************
*******Detail Page******
**************************/
li {    list-style:none;}
.productID { color: #f24131;display: block;font-size: 18px;font-weight: normal;}
.detailProductName{ color: #2a4759;display: block;font-size: 18px;font-weight: bold;margin: 10px 0;text-transform: uppercase;}
.productListCont {margin:3.5% 0;}
/******Left Panel *****/
.productPreviewContainer .List ul{margin:0px; padding:0px;}
.productPreviewContainer .variantListContainer ul li img{width:60px; height:60px; border:0px; }
.productPreviewContainer .variantListContainer ul li {display: inline-block; padding: 0 3px;}
.productPreviewContainer .variantListContainer {border-bottom: 1px dotted #ccc; margin-bottom: 10px;padding-bottom: 10px;}
.productPreviewContainer img {border: 1px solid #ccc;width: 100%;}
.productTitle{color: #2a4759;display: block;font-size: 14px;margin-bottom: 10px;margin-top: 25px;text-transform: uppercase; font-weight:700;}

/*Zoom magnifying glass icon */
.zoom {display:inline-block;position: relative;}
.zoom:after {content:'';display:block;width:33px;height:33px;position:absolute;top:0;right:0;background:url(icon.png);}
.zoom img {display: block;}
.zoom img::selection { background-color: transparent; }

.star-rating {display: inline-flex;line-height: normal;}
.rating-lg {font-size: 2.5em;}
.rating-sm {font-size: 1.5em;}
.starRatingContainer .star-rating{display:inline-block;}
.starRatingContainer:after{content:" | "; font-size:23px;}
.reviewContainerLink{font-size:13px; text-decoration:underline; cursor:pointer;}

.VirtualSampleBtn {border:1px solid #CCC; border-radius: 23px; width: 100%; display:block; position: relative;  cursor: pointer;}
.VirtualSampleBtn div.vsLinkBtn {color: #fff;font-size: 18px;padding-left: 10px;background-color: #00528e;border-radius: 23px 0 0 23px; font-size: 18px; display:block;    padding: 10px 20px;width: 80%;font-weight:bold;}
.virtualSampleWidget{margin-bottom:10px; padding-bottom:10px; border-bottom:1px dotted #CCC; }
.VirtualSampleBtn div.textVS:after{color: #00528e;content: "►"; font-size: 20px;line-height: 21px;padding: 0 16%;position: absolute;right: 0}
.VirtualSampleBtn:hover div.vsLinkBtn{background-color: #f2e96d; color: #000;}
.VirtualSampleBtn:hover div.vsLinkBtn:after{color: #f2e96d;}
.virtualSampleWidget a.VirtualSampleBtn:after{background:transparent url("../images/UI/vs-link-icon.png"); background-repeat: no-repeat;background-position: right top;content: ""; height: 50px;position: absolute;right: 10px;top: 5px;width: 50px;}
.virtualSampleWidget p{margin:0px;}

/**Product Request Links*/
.productBtnPanel {display: block;margin: 6px 0;padding: 5px 0;}
.NonPrintable {display: block; margin: 0 !important;padding: 0 !important;}
.productBtnPanel ul li:first-child {margin-left: 0;}
.productBtnPanel ul li {float: left;margin: 0 5px;}
.productBtnPanel ul li a {color: #2a4759;font-size: 10px;height: 60px;text-align: center;width: 50px;}
.productBtnPanel ul li a span {cursor: pointer;display: block;padding-top: 45px; line-height: 12px;}
.productBtnPanel ul li a.printIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -1px -1129px;display: block;}
.productBtnPanel ul li a.emailIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -2px -1252px;display: block;}
.productBtnPanel ul li a.downloadIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -2px -1376px;display: block;}
.productBtnPanel ul li a.requestIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -2px -1509px; display: block;}
.productBtnPanel ul li a.orderIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -2px -1641px; display: block;}
.productBtnPanel ul li a.freightIcon {background: transparent url("../images/UI/ewizsprite.png") no-repeat scroll -55px -1252px; display: block;}
.productBtnPanel ul li a:hover{color:#FF0000; opacity:0.80;}
.productTableTitle{color: #2a4759;display: block;font-size: 14px;margin-top:10px;text-transform: uppercase;font-weight:bold;}
.priceTable table tr:first-child{font-weight:bold;color:#2a4759;}
.priceTable table td{border: 1px solid #ddd; font-size:12px; text-align:center;}
.priceTable table td:first-child{font-weight:bold;color:#2a4759;}
.table { margin-bottom: 10px; margin-top: 10px;}

/*detail page overlay*/
.openVideoBox {background: #f5ecda url("../images/UI/ewizsprite.png") no-repeat scroll 0px -994px;border-radius: 20px;margin: 5px 0;color: #2a4759;display: inline-block;font-size: 12px;padding: 8px 20px 8px 40px;position: relative;text-align: center;text-transform: capitalize;transition: all 0.3s ease 0s;}
.openVideoBox:hover{background:url("../images/UI/ewizsprite.png") no-repeat scroll 0px -1070px #f5ecda;text-decoration:underline;transition:all .3s ;}
.modal-footer{text-align:center !important;}
.modal-header {background-color: #00528d;}
.modal-title{color:#FFFFFF;}
.modal-content{border-radius:0px;}
.modal-dialog .btn{ border: 0 none; border-radius: 10px; padding: 7px 15px;}
.modal-footer button{background: #909090 none repeat scroll 0 0;color: #fff;font-size: 12px;text-transform: uppercase;transition: all 0.3s ease 0s;}
.modal-footer button:hover{background: #606060 none repeat scroll 0 0;color: #fff;}
.modal-footer button.submitFormBtn{background: #00528d none repeat scroll 0 0;}
.modal-footer button.submitFormBtn:hover{background: #f2e96d none repeat scroll 0 0;color: #000;}
.modal-header .close{color: #fff;opacity: 1;}
.modal-header .close:hover{color:#F2E96D;opacity: 1;}

.productNote {font-size: 12px;}
.productInfoTable {margin-bottom: 15px;}
.productInfoTable .productTableTitle{ margin-bottom: 0;}
.productInfoTable .descTableTxt{font-size:13px;}
.priceTable table td{border: 1px solid #ddd; font-size:12px; color:#2a282b;}
.priceTable table td:first-child{font-weight:bold;color:#2a4759;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{ padding: 7px 10px;}
.shippingDetail table td{width:50%;}

label {font-weight: 500;}
.emailTitle {font-weight: 700;}
.btn-default.focus, .btn-default:focus{color:#FFF;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus{outline:0 none;}
ul li figcaption a b {display: block;height: 30px; line-height:15px;}
ul li figcaption a {color: #2a4759;}
.recentlyViewContainer{margin-bottom:15px;}
.recentlyView{border:1px solid #CCC; padding: 10px;}
.row.recentlyView {margin: 0;}
.recentlyView li figure{height:auto;}
.recentlyView li strong {color: #333;font-size: 18px;}
.recentlyView li figure:hover a b{color:#000 ;}
.recentlyView li figure:hover a{font-weight:bold;}
.nav-tabs > li > a{background-color: #00528e;  border-radius: 0;color: #fff;margin-right: 0;min-width: 150px;text-align: center;text-transform: uppercase;}
.nav-tabs > li.active > a:hover{background-color:#FFF !important; color:#555 !important;}
.tab-content .recentlyView{border-top:0 none;}
.tabbingWidget{margin-bottom:25px;}
#productVideo iframe{border: 1px solid #CCC;}
.form-horizontal .form-group { margin-left: -15px;    margin-right: -15px;}
.control-label {margin-bottom: 0;padding-top: 7px;text-align: right; padding: 5px 11px;}

/**OWL SLIDER **/
.owl-controls.clickable {margin: 0;position: absolute;top: 45%;width: 100%;}
.owl-carousel .owl-wrapper-outer{padding-top: 28px;}
.owl-controls.clickable {margin: 0;position: absolute;right: 0;top: 0;}
.owl-buttons {text-align:right;}
.owl-theme .owl-controls .owl-buttons div{border-radius: 0 !important;}
.owl-theme .owl-controls {  margin-top: -34px !important;}
.owl-theme .owl-controls .owl-buttons div {opacity:1 !important; margin: 6px 1px !important;}


/**SOCIAL SHARE**/
.socialIcon{padding: 5px; border-radius: 50%;border: 1px solid;margin: 5px;display: inline-block; width: 30px; height: 30px;}
.btn-twitter {color: #fff;background-color: #55ACEE;border-color: rgba(0,0,0,0.2);}
.btn-facebook{color: #fff;background-color: #3B5998;border-color: rgba(0,0,0,0.2);}
.btn-googleplus {color: #fff;background-color: #dd4b39;border-color: rgba(0,0,0,0.2);}
.btn-linkedin{color: #fff;background-color: #007bb6;border-color: rgba(0,0,0,0.2);}
.btn-twitter:hover, .btn-facebook:hover, .btn-googleplus:hover, .btn-linkedin:hover, .btn-email:hover{color: #fff;background-color: #444;border-color: rgba(0,0,0,0.2);}
.socialBtn{padding:0px;}




/**********************************END DESKTOP CSS**********************************/


/****************************Mobile Media Query ***********************************/

/*Tablet Landscape */
@media  (min-width:768px) and (max-width:1024px) and (orientation:landscape)  
{
	.navbar-nav > li > a {    min-width: 80px !important;    padding: 10px 18px !important;}
	.navbar-nav > li{margin:0px;}
	.VirtualSampleBtn div.textVS{font-size: 14px;width: 76%; padding: 10px 15px;}
	.VirtualSampleBtn div.textVS::after{ padding: 0 19%;}
	.widget input {width: 81%;}
	.categoryProduct > a {display: block;min-height: 300px;}
    .categoryProduct, .categoryProduct > a {min-height:200px;}
    .subHeading {margin: 10px 0 0;}
}
/*Tablet Portrait */
@media  (min-width:768px) and (max-width:1024px) and (orientation:portrait)  
{
	.VirtualSampleBtn div.textVS:after{padding: 0 18% !important;}
    .categoryProduct > a {display: block;min-height: 300px;}
    
}

/*Mobile */
@media  (min-width:320px) and (max-width:640px) 
{
	/*Header
	ul.topbarlinks li a{font-size: 10px;padding: 0; }
	ul.topbarlinks {text-align: center;}	
	ul.topbarlinks li:after{content:" | ";}	
	ul.topbarlinks li:after {color: #fff;content: " | ";}
	ul.topbarlinks li:last-child:after {color: #fff;content: " ";}
    ul.topbarlinks li {margin-left: 0px !important;}	
    .logincls:after, .myacount:after, .whislist:after, .cartbtn a:after{background:none;}	
	.quicklinks{padding:0px;}    
    ul.quicklinks li a{font-size: 9px; padding:0px;}
    ul.quicklinks li:after{content: " | ";font-size: 9px;padding: 0 !important;}
	ul.quicklinks li{margin:0px;}
    .logoplaceholder.container {position: relative; top: 0;}
	.container.mobileMenu {position: absolute;top: 58px; width: 100%;z-index: 999;}
	.navbar-brand > img {width: 80%;}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{text-align:center;}
	.navbar-toggle{margin-right: 0;}
	.navbar-form .form-group {display: inline-flex; margin: 0;}
    .navbar-nav{margin:0px;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {background-color: #ddd; border-color: #e7e7e7;}
    .navbar-brand{position: absolute;z-index: 1000;}
	.navbar-nav.sm-collapsible a.has-submenu{  padding-right: 15px;}
	.mobileSearch {position: relative;}	
	.searchcontainer {float: left;margin:0;margin-top: 56px; width: 100%;}	
	.searchcontainer .dropdown {float: none;text-align: center;}
	.searchcontainer.searchContMobile{ margin: 5px 0;}
	
    #footer .row .equalRow:first-child{border-right:0 none;}
	#footer div{text-align:center !important;}
	#footer .row .equalRow:nth-child(3){border-right:0 none;}
    #footer h3{ font-size: 13px;}*/

    .sub-arrow:hover{color:#3399FF;}
	.totalItems, .sortBy {display: block;margin: 10px 0;}
    .filterTitle{margin:0px;}
	.compareBtn input[type="button"]{float:left}	
	.equalRow{margin: 15px 0;}	
	.widget input {color: #000;width: 80%;}	
	.viewAsContainer{display:none;}	
	
	/*Detail Page*/	
	.VirtualSampleBtn div.textVS{font-size: 16px;}
	.recentlyView li{padding-bottom:23px 0 0; border-bottom:1px solid #CCC;}
	.recentlyView li:last-child{border-bottom:0 none;}
    .VirtualSampleBtn div.vsLinkBtn {font-size: 16px;}
    ul li figcaption a {display: block;margin-top: 20px;}
    .recentlyView li {padding-top: 20px;}
	
    /*Listing Page*/
    .categoryProduct > a {display: block;min-height: 300px;}
    #QuickViewModal .modal-dialog{width:100%;}
    .ProductListingContainer ul li.ListView .proimg {width:100%;}
    .ProductListingContainer ul li.ListView figure { padding: 10px 5px;    }
    .ProductListingContainer ul li.ListView .detailsproduct{width:100%;}
    .ProductListingContainer ul li span.caption{text-align: center; height:auto;}
    .ProductListingContainer ul li span.caption a{font-size: 18px;}
    .ProductListingContainer ul li .listDeatils{text-align: center; margin: 16px 0;}
    .compareBtn {text-align: center;    }
    .compareBtn input[type="button"] {float: inherit;}

    

}

/*Mobile Portrait */
@media  (min-width:320px) and (max-width:640px) and (orientation:portrait)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:640px) and (orientation:landscape)  
{
    .categoryList li { display: inline-block;width: 45%;}


}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:480px) and (orientation:landscape)  
{
	
}



.proOverlay {
    background:url("../images/UI/transbgcara.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    left: 0;
    }

.loader { background:#DDDDDD;  color: #222222;
    font-weight: 400;
    text-shadow: 0 1px 0 #FFFFFF; 
	border-radius:8px; 
    position: fixed; 
    top:50%;  text-align:center; 
    padding:10px; opacity:0.8;
    width: 200px; box-shadow: 0 1px 1px -1px #FFFFFF;   margin: 0 auto; height:auto;}
	
.loader p	{ display:block; padding:4px 0;font-size:16px; font-weight:bold;}