﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Presentation.Admin_Products_ProductReviewDescription_Ajax" %>

<div>
    <div>
        Title : 
        <asp:Literal id="ltrReviewTitle" runat="server"></asp:Literal>
    </div>
    <br />
    <div>
        Description :
        <asp:Literal id="ltrDescription" runat="server"></asp:Literal>
    </div>
</div>


