<div id="divFooter" clientidmode="Static" runat="server">
    <!-- FOOTER ------------------------------------------------------------------------------------------------------------------------------------------------ -->
    <section id="STANDARD_FOOTER" class="mycanvas container-fluid">
        <div class="container">
            <footer class="footerBg footerpadding">
                <div class="row">
                    
                    <div class="col-sm-12 col-xs-12 column  col-md-12" itemtype="Footerlinks" data-value="0" id="gmcontent3" runat="server"><span style="color:#702828">Footerlinks</span><br></div>
                    
                </div>
            </footer>
        </div>
    </section>
    <!-- FOOTER END -------------------------------------------------------------------------------------------------------------------------------------------- -->
         </div> 