﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Presentation.Master_UserControls_Menu" %>
<script type="text/javascript">



    // A $( document ).ready() block.
    $(document).ready(function () {

        $('.categoryMenu li').find('a').each(function () {
            //debugger;
            $(this).addClass("menuLink");

        });


        //$("ul li.dropdown").hover(function () {
        //    if ($(this).hasClass('open')) {
        //        $(this).find('ul').show();
        //    } else {

        //        $(this).find('ul').hide();
        //    }
        //});

    });

    
</script>