﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Presentation.Master_UserControls_SocialMedia" %>


<asp:Repeater ID="rptSocialMedia" runat="server" OnItemDataBound="rptSocialMedia_ItemDataBound"  >
    <ItemTemplate>
            <asp:ImageButton ID="imgBtnSocialMedia" style="height:30px;width:30px;margin-top:10px;" runat="server" />
    </ItemTemplate>

</asp:Repeater>