﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/MCPMaster.master" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="StoreCreator_test" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="admin_page">
        <div class="container ">
            <div class="wrap_container ">
                <div class="content">
                    <br />
                    <br />
                    <asp:TextBox ID="txtDBName" runat="server" />
                    <br />
                    <br />
                    <asp:Label ID="lblUserName" Text="UserName: " runat="server"></asp:Label>
                    <br />
                    <br />
                    <br />
                    <br />
                    <asp:Button Text="Check DB" ID="btnCheckDB" OnClick="btnCheckDB_Click" runat="server" />
                </div>
            </div>
        </div>
    </div>
</asp:Content>

