/* Demo CSS */
.example-class {background-color: transparent;}
.test-class p {font-weight: bold;}
.fullscreenshade {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ms-splash-panel {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgba(30, 42, 125, 1) 0%, rgba(0, 173, 238, 1) 100%) repeat scroll 0 0;
    color: #ffffff;
    position: relative;
}
.container-fluid {
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

