/*************************
*******Typography******
**************************/
body {background: #fff;font-family:'Arial Regular','Arial';color:#333333; font-size:13px; line-height: 22px; font-weight:normal;}
h1,h2,h3,h4,h5,h6 { font-weight: normal;   font-family: 'Arial Regular','Arial';  color:#4e4e4e;}
h1{font-size: 36px;color:#fff;}
h2{font-size: 20px;}
h3{font-size: 16px;color: #787878;font-weight: normal;line-height: 24px;}
h4{font-size: 16px;}
li{list-style:none;}
a {color: #ff0000;-webkit-transition: color 300ms, background-color 300ms;-moz-transition: color 300ms, background-color 300ms;-o-transition:  color 300ms, background-color 300ms;transition:  color 300ms, background-color 300ms;cursor: pointer;}
a:hover, a:focus {color: #d43133;}
hr {border-top: 1px solid #e5e5e5;border-bottom: 1px solid #fff;}
.btn-primary {padding: 8px 20px;background: #ff0000;color: #fff;border-radius: 4px;border:none;margin-top: 10px;}
.btn-primary:hover, btn-primary:focus{background: #ff0000;outline: none;box-shadow: none;} 
.btn-transparent {border: 3px solid #fff;background: transparent;color: #fff;}
.btn-transparent:hover {border-color: rgba(255, 255, 255, 0.5);}
a:hover,a:focus {color: #111;text-decoration: none;outline: none;}
.dropdown-menu {margin-top: -1px;min-width: 180px;}
.center h2{font-size: 36px;margin-top: 0;margin-bottom: 20px;}
.media>.pull-left{margin-right: 20px;}
.media>.pull-right{margin-left: 20px;}
body > section {padding: 10px 0;}
.center {text-align: center;padding-bottom: 55px;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: normal;}
.transparent-bg {background-color: transparent !important;margin-bottom: 0;}
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
.form-control:focus{ box-shadow:none;}
.btn{ border-radius:5px;}
input, button{ outline:none;}
*:active,*:focus{ outline:0 !important;}

/*************************
*******Header******
**************************/
a.navbar-brand {float: inherit;height: auto;padding:20px 0 20px 0; display:block;}
.breadcrumb > li + li::before{content: "| ";}
.hello_admin span{display:inline-block; width:14px;  float:right; margin-top:-3px;}
.hello_admin{ width:120px; display:inline-block; margin:29px  0 0 17px; vertical-align:middle; }
.hello_admin p{font-weight: normal;   font-family: 'Arial Regular','Arial';  color:#333333; font-size:14px; line-height:14px;width:86%; text-align:left; float:right;  padding:0 0 0 5px;}
.selectpicker{ width:200px; display:inline-block; margin:8px 0 0 0; vertical-align:middle; position:relative; top:7px; border:1px solid #cccccc; height:30px; color:#666666;  font-family: 'Arial Regular','Arial';  font-size:13px; line-height:14px; font-weight:normal;}
.selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:50px;pointer-events:none;}
.selectpicker:after{position:absolute;content:"";border:8px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}
#header  .navbar-nav > li > a{color:#ffffff;font-family:'Arial Regular','Arial';font-size:14px;line-height:14px;font-weight:normal;border-right:1px solid #696767; padding: 12px 27px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{ background:none;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background:none;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{background:none;}
#header .navbar-nav li:hover a{color:#0099cc;}
#header .navbar-nav li ul li:hover a{color:#333;}

#header  .navbar-default{border:0; background:#4c4a49;}
#header .navbar{ border-radius:0;min-height:40px; margin:0;}
#header  .navbar-nav > li:first-child  a{padding-left:6px;}
#header .navbar-nav > li a .caret{margin-left:5px;border-top:7px dashed;position:relative;}
#header .navbar-nav > li ul li a .caret {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;    border-color: transparent transparent transparent #333;border-image:none;border-style:solid;border-width:5px;margin-left:auto;top:-3px;}
.breadcrumb	{ margin:0; padding:8px 0 7px 33px;  border-radius:0; background: none; text-transform:uppercase; /*border-bottom:1px solid #cccccc;*/}
.breadcrumb li{color:#333333;}
.breadcrumb li a{font-family:'Arial Regular','Arial';font-size:14px;line-height:14px;font-weight:normal;color:#0095e5;}
.breadcrumb > li + li::before {  color:#333333; }

/*content*/
.admin_page{ background:url(../images/UI/bg.png) repeat  left top;padding-left:25.5px;}
.admin_page .wrap_container{ box-shadow:0 2px 3px  #000101;  padding:0; width:100%; background:#fff;}
.admin_page .container .content { width:96%; margin:0 auto;}
.admin_page .container .content  h3{font-family:'Arial Regular','Arial';font-size:24px;line-height:24px;font-weight:normal;color:#666666;text-transform:uppercase;
padding:17px 0 13px 0; margin:0;}
.admin_page .container .content  p{ font-family:'Arial Regular','Arial';font-size:14px;line-height:14px;font-weight:normal;color:#666666;}
.create_store{width:90%;margin:48px auto 23px;position:relative;}
.create_store .length{ width:75%;  background:#70d0ec; height:4px;border-top:1px solid #468293;margin:0 auto;}
.create_store ul{left: 0;margin-top: -17px;padding: 0;position: relative;top: 50%;width: 100%;}
.create_store ul li{ float:left; margin:0; padding:0;width:25%; text-align:center;}
.create_store ul li span{background: #999999 none repeat scroll 0 0;border-radius: 50%;color: #333333;display: block;font-family:'Arial Regular','Arial';font-size: 16px;font-weight: 600;height: 30px;line-height: 29px;margin: 0 auto;text-align: center;width: 30px;}
.create_store ul li h4{font-family: 'Arial Regular','Arial';  font-size:16px; line-height:16px; font-weight:normal; color:#333333; margin-top:6px;}
.create_store ul li.length01{ width:31%;}
.create_store ul li.length02{ width:7%;}
.create_store ul li.length02 span{  float:right;}
.create_store ul li  .wrapBox.active span{ background:#0098ce; color:#fff;}
.create_store ul li  .wrapBox {display: inline-block;}
.select_data{ width:100%; border-top: 1px solid  #cccccc;}
.buttonPanel.container{border-top: 1px solid  #cccccc; float:left; }
.button_section{ width:100%; text-align:center; margin:0; padding:20px 0;  }
.button_section li{ display: inline-block; margin:0 8px;}
.button_section .btn-success { background-color: #0098ce;border-color: #0098ce;font-family: 'Arial Regular','Arial';  font-size:16px; line-height:16px; font-weight:normal; color:#fff;}
.select_data  h6{ font-family: 'Arial Regular','Arial';  font-size:14px !important; line-height:14px !important; font-weight:normal; color:#333333; margin-top:6px; margin-bottom:0;}
.select_data .radio_data label{font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#333333;position:relative; width:123px;}
.select_data .form-control{ width:298px;  border-radius:0; font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#333333;height:30px; padding:3px 4px;}								
.button_section .btn{ padding:6px 19px; text-transform:uppercase; font-family: 'Arial Regular','Arial';  font-size:16px; line-height:16px; font-weight:normal; color:#fff; background:#0098ce; border-color:#0098ce; }
.select_data .row{ margin-top:18px;}
.select_data  .col-md-2{ margin-bottom:20px;}
.select_data  .col-md-10{ margin-bottom:20px;}
.button_section .btn.gray{ background:#999999 ;  border-color: #999  ;}
.select-style{border: 1px solid #ccc;   border-radius:0;    overflow: hidden;    background: #fff url(../images/select.png)no-repeat 97% 50%;}
.select-style select{padding: 5px 0;width: 100%;border: none;box-shadow: none;background: transparent;background-image: none;-webkit-appearance: none; font-family: 'Arial Regular','Arial';  font-size:13px; line-height:14px; font-weight:normal; color:#333333;}
.select-style select:focus{outline: none;}
.select_data .radio{ margin:0;padding-left: 20px;}
.select_data  .selectpicker{ width:298px; display:inline-block; margin:0 0 0 0; vertical-align:middle; position:relative; top:0; border:1px solid #cccccc; height:30px;color:#666666; font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:400;}
.select_data  .selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:20px;pointer-events:none;}
.select_data  .selectpicker:after{position:absolute;content:"";border:6px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}
.wrap_lang ul{ margin:0; padding:0; list-style:none; width:100%;}
.wrap_lang ul  li{ margin:0 0 3px 0; padding:0; list-style:none; width:100%; float:left; font-family: "Arial Regular","Arial"; font-size: 14px;font-weight: normal;line-height: 14px;}
.wrap_lang ul  li:first-child{ margin-bottom:12px;}
.wrap_lang.second ul  li{ margin-bottom:8px; }
.wrap_lang.second ul  li:first-child{ margin-bottom:12px;}
.wrap_lang ul  li .col-md-2{ margin:0; font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.wrap_lang ul  li .col-md-2	 label{ margin:0; font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; }
.wrap_lang ul.checkcolor label {color:#666666;}
.wrap_lang ul  li label{ margin:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; }
.wrap_lang ul  li .col-md-2 input[type="checkbox"]{ margin:0 5px 0 0;}
.select_data .wrap_lang{  border:1px solid #cfcfcf; padding:0 0 0 0; max-height:240px; overflow:auto;}	


/*create-store_2 page*/
.create02  h5{ font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#333333; margin:0 15px; padding:0 0 12px 0;}
.create02  .checkcolor h5{ margin:0;}
.create02 .wrap_creat02{ border-bottom:1px solid #ccc;}
.create02 .wrap_creat02 .checkcolor label {color:#666666;}
.wide{width:100%;}
.wrap_creat02{ padding:5px 0 6px 0 ;}
.wrap_creat02 .col-md-6 h5{ margin-left:0; margin-right:0;}
.wrap_creat02 .select_data .selectpicker{ width:173px;}
.num_size input[type="text"]{ width:53px;}
.select_data .wrap_lang.create02{ max-height:100%;}
.create02 .col-md-6 h5{ margin-left:0; margin-right:0;}
.create02 .col-md-6  span{ width:150px; display:inline-block;}
.narrow{ display:inline-block;}
.create02 .col-md-6 .narrow{ width:63px; padding-left:20px;}
.size01{ width:258px;}
.create02 .col-md-6 .selectpicker{ width:173px;}
.create02 .col-md-6.type_select .selectpicker{ width:260px;}
.create02 .col-md-6 .narrow  label{ font-family:'Arial Regular','Arial';font-size:14px;line-height:14px;font-weight:normal; color:#333333;}
.create02 .col-md-6	 .default{ width:73px;}
.create02 .col-md-6 label{ font-family: 'Arial Regular','Arial';font-size:13px; line-height:13px; font-weight:normal; color:#333333; margin-left:10px;}
input, select, textarea{ border:1px solid #ccc;}
input[type="text"]{ height:30px; padding:0 7px ;}
textarea{ min-height:78px; padding:7px;}

/*create-store_3 page*/
.pagination	{ margin:0; }
.well{ padding:15px 0; background:#ebebeb; border:0; border-radius:0; box-shadow:none;}
.well .col-md-6{ font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.create_pg3  .col-md-6 span{ display:inline-block; margin-left:15px;}
.create_pg3  .col-md-6 span a{font-family: 'Arial Regular','Arial';  font-size:14px; line-height:14px; font-weight:normal; color:#0098ce;  text-decoration:none;	}
.create_pg3 .pagination > li > a, .pagination > li > span {border: 1px solid #fff; color:#666666; background:#ebebeb; font-size:14px; line-height:14px; font-weight:normal;padding:7px 10px;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {background-color: #666666;border-color: #fff;color: #fff;z-index: 3;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-bottom-left-radius:0;border-top-left-radius: 0 ;margin-left: 0;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-bottom-right-radius: 0;border-top-right-radius:0;}
.create_pg3 .button_section { text-align:right;}
.themes{  margin:0; padding:0; list-style:none;}
.themes .photo{ border-top: 1px solid #797979;  border-left: 1px solid #797979;  border-right: 1px solid #797979;}
.themes .photo img{ border:1px solid #a8a8a8; width:90%; height:auto; margin-top:12px; margin-bottom:12px;}

/*create-store_4 page*/
.create_pg4 .col-md-6{ padding:0;}
.create_pg3 .button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section .col-md-6.text-left{ font-size:18px;  line-height:27px; min-height:30px; font-weight:normal; color:#666666;}
.create_pg4 .box{ border:1px solid  #cccccc; width:100%; margin-bottom:20px;}
.create_pg4 .box .col-md-3{ padding-top:15px; padding-bottom:15px}
.create_pg4 .box .col-md-3 ul{ margin:0; padding:0; list-style:none;}
.create_pg4 .box .col-md-3 ul li{ font-size:14px; line-height:14px; font-weight:normal;  color:#333333;}
.create_pg4 .box .col-md-3 img{border:1px solid  #a8a8a8;}
.create_pg4 .box .col-md-9 h6{font-size:16px; line-height:16px; font-weight:normal;  color:#666666; margin-bottom:19px;}
.create_pg4 .no_padding .wrap_title{ background:#efefef; margin: 0 0 18px 0;}
.create_pg4 .no_padding .wrap_title .title{font-size:16px; line-height:16px; font-weight:normal; color:#666666; padding:7px 0;}
.create_pg4 .no_padding .wrap_title .icon{ background:url(../images/store_pics.png)  no-repeat 0 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon2{ background:url(../images/store_pics.png)  no-repeat -32px 0;  width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon3{ background:url(../images/store_pics.png)  no-repeat  -64px 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon4{ background:url(../images/store_pics.png)  no-repeat  -96px 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon5{ background:url(../images/store_pics.png)  no-repeat  0 -32px; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon6{ background:url(../images/store_pics.png)  no-repeat  -32px  -32px; width:30px; height:30px; float:left;}
.create_pg4 .review01 ul.detail_title li .col-md-6 b{ text-transform:uppercase;}
.create_pg4 .no_padding .wrap_title .title{ width:92%; float:right; }
.create_pg4 .review01{ width:100%; margin:0 0 30px 0;	}
.create_pg4 .review01 ul.detail_title{ margin:0; width:100%; padding:0; float:left;}
.create_pg4 .review01 ul.detail_title li{ margin:0px 0; display:inline-block; width:100%; vertical-align:top;}
.create_pg4 .review01 ul.detail_title li .col-md-6{ margin:0; padding:0; list-style:none; color:#333333;  font-size:14px;  line-height:23px; font-weight:normal;}
.create_pg4 .review01 ul.detail_title li .lightgray	{ color:#666666;}
.create_pg4 .no_padding{ padding:0;}
.create_pg4 .no_padding  .review01 h6{font-size:14px; line-height:14px; font-weight:900; color:#333;
text-transform:uppercase; margin:0; float:left; margin:0 0  5px 0;}
.wrap_block{ margin: 0 0 20px 0; padding:0; list-style:none;  border-bottom:1px solid #cccccc; float:left;}
ul.wrap_block  li:first-child{ padding-right:2%; border-right:1px solid #cccccc; float:left; padding-left:0px;}
ul.wrap_block  li{ width:50%; padding-left:2%; float:right;}
ul.wrap_block li li {border: 0 none !important; padding: 0;}
ul.wrap_block li li:first-child { padding-right:0;}

/*Login page Section*/
.logpage .logo	{left: 0;position: absolute; right: 0; top: -110px;}
.logpage	{ width:800px; margin:0 0 0 -400px; border-radius:15px;left:50%;position:fixed;top:50%;z-index:999;}
.logpage:before{position:fixed;bottom:0;left:0;right:0;height:30%;background:#5c5c5c;content:"";z-index:-1;}
.logpage:after{position:fixed;top:0;left:0;right:0;height:70%;background:#f5f5f5;content:"";z-index:-1;}
.logpage .col-md-12 {background:#fff; border-radius:15px; padding-top:40px; padding-bottom:40px;  -webkit-box-shadow: 0 8px 6px -6px black;-moz-box-shadow: 0 8px 6px -6px black;box-shadow: 0 8px 6px -6px black;}
.logpage h6	{ font-size:16px; line-height:18px; font-weight:900; color:#1d1d1b; }
.logpage p	{ font-size:14px; line-height:16px; font-weight:400; color:#1d1d1b; margin:0 0 21px 0;}
.logpage ul	{ margin:7px 0 20px 0; padding:0; list-style:none;}
.logpage ul li{ margin:0; padding:0; list-style:none; position:relative; padding:0 0 0 8px;
font-size:14px; line-height:17px; font-weight:400; color:#1d1d1b;}
.logpage ul li:before { content:"" ; position:absolute; width:3px; height:1px; background:#000; left:0; top:9px;}
.border_right { border-right:1px solid #cccccc;}
.logpage .form-group{ margin-bottom:20px;}
.logpage .form-control{ border-radius:5px; background:#f5f5f5; font-size:14px; line-height:14px; font-weight:400; color:#999999; height:40px; border:0; box-shadow:none;}
.logpage .btn-default{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,9a9a9a+100 */
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #9a9a9a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* IE10+ */
background: linear-gradient(to bottom, #cccccc 0%,#9a9a9a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-9 */
 font-size:18px; line-height:18px; font-weight:900; color:#1d1d1b; text-transform:uppercase;  border:0;padding: 9px 12px;}
.logpage .check	{font-size:14px; line-height:14px; font-weight:400 !important;  color:#333333; }
.logpage .check label{ font-weight:400;}
.logpage p.no_margin{ margin-bottom:0 !important;}

/*Add Category */
.collapsableMenu .btn.btn-info {background-color: #efefef;border: 0 none;border-radius: 0;color: #444;display: block;width: 100% !important;text-align:left;padding-left: 40px; color:#666; font-size:18px; font-weight:normal;}
.collapsableMenu{padding:10px 20px;}
.collapsableMenu a.btn:before {border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 5px solid #666666;content: "";height: 0;left: 13px;  position: absolute;top: 17px;width: 0;}
.collapsableMenu a.btn.collapsed:before{ border-bottom: 5px solid transparent;border-left: 6px solid #666666;border-top: 5px solid transparent;content: "";height: 0;  left: 17px;position: absolute;top: 14px;width: 0;}
.languageDropdown{width:220px;}
.row.collapsableContent {padding: 15px 0;}
.redColor{color:#FF0000;}
.form-control{border-radius:0px;}
.collapsableContent .form-group{border-bottom: 1px solid #CCC;margin: 0 15px 15px;padding-bottom: 15px;}
.collapsableContent .form-group label{padding:0px;color: #333;}
.collapsableContent .form-group .select-style{height: 34px;margin: 0;vertical-align: super;width: 100%;}
.uploaderMsg{display:inline-block;vertical-align: top;}
.uploadImage img{width:100%;}
.collapsableContent .form-group:last-child {border-bottom: 0 none;margin-bottom: 0;padding-bottom: 0;}
.seoMetaDataPanel .col-md-10{width:81%;}
.buttonPanel{width:100%;}


/*ADD Section*/
/*.imageSectionIcon{padding:0px;}*/
#assignProducts .radio-inline input[type="radio"]{margin: 4px 0 0 -16px;   }
#assignProducts .radio-inline{padding-left: 16px !important;}
#assignProducts .collapsableContent .form-group{border-bottom:0 none; margin-bottom:0px;}


/*Category Listing */
.categories_btn > li {display: inline-block;}
.categories_btn{padding:0px;}
.categories_btn {float:right;margin: 15px 0 5px;}
.mainContainer {min-height:645px;}
.sectionText {display:block;margin:0px 0 20px 0;line-height:16px;}
.categories_btn li {float:left;margin:0px 10px;}
.categories_btn li .btn1, .categories_btn li .btn2, .categories_btn li .btn3 {background-color:#0098ce;
border: medium none;border-radius: 4px;color: #FFFFFF;cursor: pointer;display: block;float: left;font-family: 'Conv_DIXN', Arial;
font-size: 14px;height: 32px;line-height: 30px;padding: 0 10px;position: relative;text-align: center;
margin:15px 0;text-decoration: none;text-transform: uppercase;}
.categoriesmainBlock {display:block;margin: 0px;padding:0 0 15px;}
.dragbltop tr th {background: url("../images/sliver_bg.jpg") repeat-x scroll center top transparent;
border: 1px solid #ccc;background-color:#ddd;padding: 5px 5px;text-align:center;  font-size: 14px; }
.dragblnextBlock li:nth-child(even) {background: #ffffff}
.dragblnextBlock li:nth-child(odd) {background: #ffffff}
.secondul li {background: #f7f7f7 !important; }
.firsttdResize {width:34% !important}
.all_customer_inner.dragbltop {  border: 1px solid #ccc;}
.dragbltop tr td, .dragbltop tr th {width: 13.33%;}
.addEditecinUl input[type="checkbox"] { margin:4px 5px 0 5px;}
#ContentPlaceHolder1_updatePanelAssign .sectionradio { padding:15px 0;}
#ContentPlaceHolder1_updatePanelAssign .blockOnedit label { margin:0 0 0 20px;}
#ContentPlaceHolder1_pnlCategory .overscrol ul { padding:0;}
#ContentPlaceHolder1_pnlCategory .overscrol .addEditecinUl {
border-top:1px solid #ccc;}
.greyrow {	background:#efefef;}
.dragbltop tr td.firsttd {/*text-align: left;*/ padding-left: 16px;}
.dragbltop tr td.secTds {text-align: center;}
/*
.sixthtdResize {width: 78px !important;}

.dragbltop tr th.firsttd {width:40%;}
.dragbltop tr th.secondtd {width: 100px;}
.dragbltop tr th.thirdtd {width: 100px;}
.dragbltop tr th.fourthtd {width: 120px;}
.dragbltop tr th.fivethtd {width: 130px;}
.dragbltop tr th.sixthtd {width: 50px !important;}
.dragbltop tr td.secondtd {	width:100px;}
.dragbltop tr td.thirdtd {width:100px;}
.dragbltop tr td.fourthtd {width:120px;}
.dragbltop tr td.fivethtd {width:140px;padding:0px;}
.dragbltop tr td.sixthtd {width:50px !important;}
*/
.dragbltop tr td {border: 1px solid #CCCCCC;border-top:none;padding:5px 5px;text-align:center; font-size: 14px;}
.dragbltop tr td a {color: #444;font-weight: normal; word-break: break-all;}
.dragbltop tr td{ color: #444;font-weight: normal;}
.arrowUl {background: url("../Images/UI/arrow.png") no-repeat scroll left center transparent;margin: 0 0 0 20px;
padding: 0 0 0 10px !important;}
.secondul1 .arrowUl {background: url("../Images/UI/arrow.png") no-repeat scroll left center transparent;
margin: 0 0 0 40px;padding: 0 0 0 10px !important;}
.dragbltopextra tr td {border-top:none;}
.dragblnextBlock .action{cursor: pointer;display: block;height: 17px;margin: 0 auto;position: relative;width: 30px;}
.dragblnextBlock .action:hover{z-index:999;}
.dragblnextBlock .action:hover a.icon{background-position:0 -244px;z-index:999;}
.proOverlay{bottom: 0;   left: 0;    position: fixed;    right: 0;    top: 0;z-index:999;}
.proOverlay table{width:100%;height:100%;}
.proOverlay table td{vertical-align:middle;text-align:center;font-size:18px;font-weight:normal;}
.proOverlay:before{bottom: 0; left: 0; position: fixed;
right: 0; top: 0;z-index:-1; background:#fff;opacity:0.8;content:"";}
.icon {background: url("../Images/UI/icon2.png") no-repeat scroll 0 -304px;cursor: pointer;display: block;height: 20px;
padding: 0;position: relative;right: 0;top: -5x;width: 29px;}
.action_hover {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #999999;border-radius: 5px 5px 5px 5px;
box-shadow: 0 2px 3px 2px #6E6E6E;display: none;padding: 5px 0;position: absolute;right: -98%;top: 25px;width: 160px;
z-index: 9;}
.action_hover a:hover {color:#fff;}
.action_hover span {background: none repeat scroll 0 0 #FFFFFF;border-radius: 5px 5px 0 0;
box-shadow: 0 -2px 2px #6C6C6C;height: 34px;border:1px solid #999999;border-bottom:none;padding: 0;position: absolute;
right: 8%;top: -34px;width: 59px;}
.iconDark {background: url("../Images/UI/icon2.png") no-repeat scroll 0 -244px transparent !important;}
.dragblnextBlock .view_order a:first-child {border-top:none;}
.dragblnextBlock .view_order a {background: none repeat scroll 0 0 transparent;
color: #000;display: block;font-size: 13px; line-height:19px; padding: 0 0;text-align: left;text-indent: 20px;}
.dragblnextBlock .view_order a:hover, .dragblnextBlock .other_option a:hover {color:#0099cc;}
.dragblnextBlock .other_option a:first-child {border-top:none;}
.dragblnextBlock .other_option a {background: none repeat scroll 0 0 transparent;color: #000000;display: block;
border-top:1px solid #ccc;text-align:left;font-size: 13px;padding: 10px 0;text-indent: 20px;}
.dragblnextBlock .other_option {padding:2px 0px;}
.firstDv {display: inline-block;line-height: 20px;color:#515151;}
.chkBox {background: url("../images/checkboximg.png") no-repeat scroll 0 0 transparent;height: 17px;padding: 0;width: 17px;display:inline-block;}
.chkBoxmark {background:url("../images/checkboximg.png") no-repeat scroll 0 -19px transparent}
.chkBox input[type="checkbox"] {opacity:0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
.firstDv input[type="checkbox"] {cursor: default;}
.firstDv span {display: inline-block;padding:0px;}
.firsttd.firsttdResize > span {padding-left: 20px;}
.firstDv span.spnwidt {display: inline-block;height: 20px;color:000;text-align:left;padding: 0 3px;width: 48px;}
.paneltab {cursor:pointer;background: url("../Images/UI/minus.png") no-repeat scroll left center transparent;padding-right: 20px;  font-weight: normal; padding-left: 22px;margin-left: 0px;}
.paneltabplus {background: url("../Images/UI/plus.png") no-repeat scroll left center transparent !important;  padding-left: 22px;}
.succsessMessa {background: none repeat scroll 0 0 #e0ffd3;border: 1px solid #CCCCCC;box-shadow: 0 0 3px #A0A0A0;display: block;margin: 10px auto;padding: 10px 2px;width: 98%;color:#000;}
.errorMessa {background: none repeat scroll 0 0 #ff9a9a;border: 1px solid #CCCCCC;color:#000;box-shadow: 0 0 3px #A0A0A0;display: block;margin: 10px auto;padding: 10px 2px;width: 98%;}
.midleDrgblecontin ul {padding:0; margin:0px;}
.dragblnextBlock ul {/*display:none;*/}
.icon {	background: url("../Images/UI/icon2.png") no-repeat scroll 0 -304px;cursor:pointer;display: block;height: 20px;padding: 0;position:relative;right: 0;top: -5x;width: 29px;}
.action:hover .action_hover{display:block}
.action_hover {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #999999;border-radius: 5px 5px 5px 5px;box-shadow: 0 2px 3px 2px #6E6E6E;display: none;padding: 5px 0;position: absolute; right: -98%;top: 25px;width: 160px;z-index: 9;}
.action_hover a:hover {color:#fff;}
.action_hover span {background: none repeat scroll 0 0 #FFFFFF;	border-radius: 5px 5px 0 0;	box-shadow: 0 -2px 2px #6C6C6C;	height: 34px;	border:1px solid #999999;	border-bottom:none;	padding: 0;	position: absolute;	right: 8%;	top: -34px;	width: 59px;}


/*AssignProductCategory*/
.exit  { padding:6px 19px; text-transform:uppercase; font-family: 'Arial Regular','Arial';  font-size:16px; line-height:16px; font-weight:normal; color:#fff; background:#0098ce; border-color:#0098ce;border-radius:5px;}
.save { padding:6px 19px; text-transform:uppercase; font-family: 'Arial Regular','Arial';  font-size:16px; line-height:21px; font-weight:normal; color:#fff;background:#0098ce; border:1px solid #0098ce;border-radius:5px; display:inline-block;}
#ContentPlaceHolder1_trProduct .boxManageReviews { padding:15px 0 0 0;}
#ContentPlaceHolder1_trPCategory .select-style { margin-left:10px;}
#ContentPlaceHolder1_trPSCategory .select-style { margin-left:10px;}
#ContentPlaceHolder1_trPSSCategory .select-style { margin-left:10px;}

/*29th jully*/
#divWeb { padding:0 0; border:1px solid #ccc;}
.textIcon.paneltab {margin: 0 0; padding:5px 20px; display:block; border-bottom:1px solid #ccc;}
#divWeb ul { padding:0;}
#divWeb li { background:#ffffff; border-bottom:1px solid #ccc;}
#divWeb li span.paneltab { background-position:3px center;}
#divWeb li ul  { background:#fff;}
#divWeb li ul li { background:#fff;  padding:5px 20px;}
#divWeb li ul li:last-child { border:0;}
#divWeb li ul li.cat0 { border:0px !important;}
#divWeb li span.paneltab.paneltabplus { background-position:3px center !important;}

/*30th jully AddEditCategory.aspx*/

.divMessage {width:auto; padding:20px; font-size:13px; line-height:15px; color:000; background:#ccc;}
.dragblnextBlock .action:hover{z-index:999;}
.dragblnextBlock .action:hover a.icon{background-position:0 -244px;z-index:999;}


/******************************** Footer ******************************/
footer{ padding:23px 0 26px 0; font-family: 'Arial Regular','Arial';  font-size:12px; line-height:12px; font-weight:400; color:#474747; position:relative; z-index:99; }

/*Added 6th aug 15*/
.popover {width: 300px;}

/*new css*/

.wrap_lang ul  li input[type="checkbox"]{margin:0 5px 0 0;}

/*New page*/
.page-banner {background: none repeat scroll 0 0 #f4f4f4;border: 1px solid #eee;color: #666;font-size: 18px;font-weight: 700;margin: 10px 0;padding: 12px; width:100%; line-height: 20px;}
.yellowBtn{background-color: #0098ce;color: #fff;display: block;font-weight: 700;margin: 2% auto;padding: 5px;text-align: center;width: 150px; cursor:pointer;}
.yellowBtn:hover,  button:hover{color:#fff !important; background-color: #0098ce; }
.yellowAutoBtn{background-color: #0098ce;color: #fff;display: inline-block;font-weight: 700;margin: 2% auto;padding: 5px;text-align:center;cursor:pointer; line-height: 15px;}
.yellowWideBtn{ background-color: #0098ce;color: #fff;display: inline-block;font-weight:700; margin: 0 2px;  /* margin: 1% auto;*/padding: 10px 20px;text-align: center;cursor:pointer; line-height: 15px;}
.yellowAutoBtn:hover, .yellowWideBtn:hover{ color: #fff;}
.form-group.borwseContainer p{ margin-top:8px;}
.row.adminBorderCont{margin:20px 0;}
.imageContent{margin-top: 10px; padding-left: 0;}
.admin_page .container .content p.panel-title{padding:5px 0; font-size:16px; line-height:16px;}
.previewImageContainer{border-left:1px solid #CCC; min-height: 120px;}
.panel-default > .panel-heading{ line-height: 18px;}
.panel-body .thumbnail{text-align:center;}
.sortable-placeholder {margin-left: 0 !important; border: 1px solid #ccc; background-color: yellow; -webkit-box-shadow: 0px 0px 10px #888;   -moz-box-shadow: 0px 0px 10px #888; box-shadow: 0px 0px 10px #888;}
.imageDragPanel {background-color: #ffffff; border: 2px dotted #ccc; border-radius: 5px; display: inline-block; margin: 10px 6px 10px 10px; padding: 10px;   text-align: left; position:relative; cursor:move;}
.imageDragPanel:hover, .imageDragPanel.active{color:#1e4d61; border: 2px dotted #1e4d61; }
.ui-sortable {padding:10px;}
.closeImageBtn{background-color: #0098ce;border-radius: 100%;color: #fff; font-size: 10px; line-height:14px;height: 20px;padding: 2px 0px;position:absolute;right: -10px;text-align: center;top: -10px;width: 20px;}
.closeImageBtn:before{content:"X";}
.closeImageBtn:hover{color:#fff;}
.checkBoxImage{  text-align: right;position: absolute;right: 10px;}
.imageBlk {background-color: #ccc; height: 100px;  width: 130px;display: table-cell;vertical-align: middle}
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{ content: "";}
.form-group.borwseContainer .browsePdf{float: right;padding: 2px 10px;margin: 0 0px;background-color: #CCC;color: #777;cursor: pointer;}
.form-group .input-xlarge{  width: 75%;}
.form-group.borwseContainer .browsePdf:hover{color:#000000;}
.form-group input[disabled]{border: 0;padding: 4px;background-color: transparent;}
.adminBorderCont{border:1px solid #CCC; padding:15px 0px;}
.browseComponenet.form-control{width:67%; height:auto; display:inline-block; /*padding-bottom: 4px;*/}
.checkboxControl .btn{float:right; margin-right:15px;}
.admin_page .container .content p.panel-title span {font-weight:400;}

/*Addded on 7th Aug 2015*/
.uploadedimage{width:100%;height:auto;}
#FUCategory {width: 200px;height: 200px;}
#FUBanner {width: 100%;height: 200px;}
.qq-upload-list li { position:relative;}
.cloaseuplod1 {position: absolute !important; right: 0;top: 0;}

/*table style with action*/
.midleDrgblecontin.new{}
.midleDrgblecontin.new td{border:1px solid #ccc;width:33.33337%;padding:5px;text-align:left;}
.midleDrgblecontin.new th {border:1px solid #ddd; width:33.33337%;padding:5px;text-align:left;}
.midleDrgblecontin.new th.fourthtd { text-align:center;}
.midleDrgblecontin.new table{border-collapse:collapse;}
.midleDrgblecontin.new th:first-child,.midleDrgblecontin.new td:first-child{width:20%;}
.midleDrgblecontin.new th.fourthtd,.midleDrgblecontin.new td.fourthtd{width:10%;}
#ULLI{ background:#ffffff;}
.bg_title { background:#ccc;}
#ULLI.dragblnextBlock li:nth-child(2n) {background:#ffffff;}

/*#select_lang { margin-top:8px;}*/
#table_look{margin-bottom:10px;}
#table_look table{table-layout:fixed; }
.manage_st_content{margin:10px 0 0 0;}
.pro_filter{padding:0; padding-top:10px; width:100%; float:left;}

/*.pro_filter li:first-child {border-top:1px solid #ccc;}*/
/*Added for StaticPageListing.aspx on 2sept 2015 */
.staticpageTbl { table-layout:fixed;}

/*Added on 24th Aug 2015*/
#divWeb	 .textIcon.paneltab{border-bottom:0;}
#header .navbar-nav > li > a{padding: 12px 13px;}
.collapsableMenu a {position: relative;}
.midleDrgblecontin.new  {padding-bottom: 20px; }
/*.admin_page .wrap_container { min-height:600px;}/*Sripal*/
.admin_page .wrap_container {min-height:1050px;}
#table_look textarea{min-height:auto;}
.pro_filter li:first-child{background:#ccc;}

/*Add   ed on 25th Aug 2015*/
#webLink input { margin-right:10px;}
#dvPLSorting input[type="checkbox"]{margin-right:5px;}
#dvDisplayType input[type="checkbox"]{margin-right:5px;}



/*slideshow*/
.slideshow.select_data  .select-style select{color:#666666;}
.admin_page .container .content  .slideshow.select_data .col-md-9 p	{font-size:13px; line-height:18px; font-weight:400; color:#666666; margin:6px 0 0 0; width:100%; float:left;}
.slideshow.select_data ul{ margin:0; padding:0; list-style:none; width:100%;}
.slideshow.select_data ul li{border-bottom:1px solid #cccccc; float:left; width:100%; padding:10px 0;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .size01{font-size:14px; line-height:14px; font-weight:normal; color:#666666; float:left;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6 label{ width:100%; color:#666666 !important; }
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  label{ color:#666666 !important;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6{ padding-left:6px;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .disc{ float:left; width:30px; margin:3px 0 0 10px;}
.select_data .selectpicker.slidesize01{ width:100%;}
.right_selct_dropdwn{ position:absolute; right:0; top:0;}
.relative_data{ position:relative;}

/*Addded on 27 Aug 2015*/
.sm_select { margin-right:0; position:relative; top:15px;}
/* HomePageContentManagement changes */
.select-style.selectpicker.wide01{width:258px;}
.slideshow.select_data.hm_pg_manag{margin-bottom:15px;}
.manage_email{margin:20px 0 0 0;width:100%; float:left;}

/*Added on 3rd sept 2015 for ManageEmail.aspx*/
.pos_i {float:left;}
.pos_i2{margin-left:10px;}
.pos_top{position:relative; top:-9px; }
/*StoreSettings.aspx*/
.marright_label1 label{margin-right:5px; width:225px;}
.marright_label2 label{margin-left:5px;}

.asin_cagry{padding-bottom:40px;}

/*Added on 8 sept 2015*/
.categories_btn li .btn1:hover, .categories_btn li .btn2:hover, .categories_btn li .btn3:hover { background:#006f96;}
.paneltab:hover{color:#006f96;}
.save:hover{background:#006f96; border:1px solid #006f96; color:#fff;}
.collapsableMenu .btn:hover {background-image: none; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; outline: 0 none;}
.qq-upload-button{text-align:center;}
.button_section .btn:hover{background:#006f96; border:1px solid #006f96;}
.button_section .btn.gray:hover{background:#6a6a6a; border:1px solid #6a6a6a;}

#accordion .panel-heading:hover{ background:#ccc;}
.logpage .btn-default:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1ac3ff+0,1e5799+100 */
background: #1ac3ff; /* Old browsers */
background: -moz-linear-gradient(top,  #1ac3ff 0%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ac3ff), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1ac3ff 0%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac3ff', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
color:#fff;}
#ContentPlaceHolder1_dvVariable input[type="submit"]:hover { background:#ccc;}
.paging table{	margin:0 0 10px;float:right;}
.paging table tr td {border: 0 solid #CCCCCC !important;font-size: 14px !important;	margin: 0 2px;    width:auto;	padding: 0 1px !important;	text-align: left !important;}
.paging table tr td span{background: none repeat scroll 0 0 #474747;	color: #FFFFFF;line-height:normal !important;	padding: 3px 7px;}
.paging table tr td a {	background: none repeat scroll 0 0 #00528c;	color: #000 ;	padding: 3px 7px;	line-height:normal;	width: auto; font-family: Arial;}
.paging table tr td a:hover {background: none repeat scroll 0 0 #0098ce;	color: #000;}
.paging td {border: 0 solid #CCCCCC !important;	font-size: 14px !important;	margin: 0 2px;	padding: 0 1px !important;	text-align: left !important;}
/*.manage_slide_pegi { padding: 30px 0 0; position: relative;}*/
.paging table { margin:10px 0;}
.paging { background:none;}
.paging table tr td a { background:#ededed; color:#000;}
.paging table tr td span { background:#0098ce; color:#000;}

/* Addded on 992015 for StaticPageSequence.aspx*/
#sortable { border:1px solid #ccc;}
.ui-sortable { padding:0;}
.ui-sortable li span { padding:0 5px; display:inline-block;} 
#sortable li span.paneltab { background-position:3px center;}
#sortable li span.paneltab.paneltabplus { background-position:3px center !important;}
#sortable { padding:0 0; border:1px solid #ccc;}
.textIcon.paneltab {margin: 0 0; padding:5px 20px; display:block; border-bottom:1px solid #ccc;}
#sortable ul { padding:0;}
#sortable li { background:#ffffff; border-bottom:1px solid #ccc; position:relative;}
#sortable li ul  { background:#fff;}
#sortable li ul li { background:#fff;  padding:5px 20px;}
#sortable li ul li:last-child { border:0;}
#sortable li ul li.cat0 { border:0px !important;}
#sortable li ul li .textIcon.paneltab {border-bottom:0;}
.title_panel {position: absolute;right: 0;top: 5px;}


/*Added for HomePageContentListing.aspx*/
/*#divFooterText ul { min-height:250px; background:#ffffff; padding:10px 10px; margin-bottom:10px; float:left;    }
#divCopyRightInfo ul { min-height:250px; background:#ffffff; padding:10px 10px; margin-bottom:10px; float:left;}
    */

#divSiteLogo ul{min-height:250px;padding:10px 10px; margin-bottom:10px; float:left;}
#divFooterLogo ul{min-height:250px;padding:10px 10px; margin-bottom:10px; float:left;}


/*Added on 10-9-2015 for HomePageContentListing.aspx */

.x_x_btn.x_x_btn-primary {background-color: #0098ce;border: medium none;border-radius:4px;color:#ffffff;cursor: pointer;display: inline-block;font-family:"Conv_DIXN",Arial;font-size: 14px;height: 32px;line-height: 30px;margin: 15px 0;padding: 0 10px;position: relative;text-align: center;text-decoration: none;text-transform: uppercase;}
.x_x_btn.x_x_btn-primary:hover { background:#006f96;}
.yellowAutoBtn:hover, .yellowWideBtn:hover { background:#006f96;}

#sortable li ul.dragblnextBlock.new_side_show_mangment { background:none;}
#sortable li ul.dragblnextBlock.new_side_show_mangment li { background:none;}
#sortable.social_m_mngmen li { border-bottom:0;}
#sortable.social_m_mngmen li table { border:0;}
.social_head_mngmen th { width:33%; background: #ccc ; padding:5px; border:1px solid #ddd;}
.new_social { padding-top:20px;}
.new_social li { float:left; width:100%; margin-bottom:10px;}

/*added on 18092015 for SocialMediaManagement.aspx & PointsUpdate.aspx*/
.PointsUpdate_table  { margin:15px 0;}
.icon_pic {display:inline-block; position:relative; left:265px;}
#ContentPlaceHolder1_flupImage { width:257px;}

#sortable { border:0px;}
.dragbltop tr td a { display:block;}
#divStaticImage .col-md-9 > select { height:28px;.select-style select}
select { height:28px;}
input[type="text"] { color:#333 !important;}
/*Added on 20_1_16 on for SocialMediaManagement.aspx */
.media_mngmen th { background: #ccc ; padding:5px; border:1px solid #ddd;}
.media_mngmen td {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: -moz-use-text-color #cccccc #cccccc;border-image: none;border-style: none solid solid;border-width: medium 1px 1px;font-size: 13px;padding: 5px;text-align: center;}
.media_mngmen th {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: -moz-use-text-color #ddd #ddd;border-image: none;border-style: none solid solid;border-width: medium 1px 1px;font-size: 13px;padding: 5px;text-align: center;}
.media_mngmen th.first, .media_mngmen td.first { width:10%;  }
.media_mngmen th.second, .media_mngmen td.second { width:20% }
.media_mngmen th.third, .media_mngmen td.third { width:60%}
.media_mngmen th.fourth, .media_mngmen td.fourth { width:10%}
.media_mngmen th.fifth, .media_mngmen td.fifth { width:10%}
    

/*Left Side Navigation */
.main-navigation.stick{top:0px;}
.main-navigation {padding: 0;max-height: none !important;z-index: 1000;	position:fixed !important;}
ul.main-navigation-menu > li {border: 0 none;display: block; margin: 0;padding: 0;	/*border-bottom:1px solid #FFF;*/}
/*ul.main-navigation-menu > li:first-child {border-top:1px solid #FFF;}*/
ul.main-navigation-menu > li > a {border: 0 none;display: block;font-size: 14px;font-weight: 300;margin: 0;padding: 10px 10px 10px 0;position: relative;text-decoration: none;/*border-bottom: 1px solid #DDDDDD;border-top: 1px solid #FFFFFF;*/	min-height:40px;}
ul.main-navigation-menu > li > a span.title {margin-left: 40px;}
ul.main-navigation-menu li a .icon-arrow {background-position: -22px -9px;float: right;height: 11px;margin-right: 8px;margin-top: 7px;width: 15px;}
ul.main-navigation-menu li.open a .icon-arrow {background-position: -21px 6px;float: right;height: 15px;margin-right:8px;margin-top:0;width: 15px;}
/* 2nd level sub menu */
ul.main-navigation-menu li > ul.sub-menu {clear: both;list-style: none;margin: 8px 5px;display: none;padding: 0;}
ul.main-navigation-menu li > ul.sub-menu > li {background: none;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 1px !important;padding: 0;}
ul.main-navigation-menu li > ul.sub-menu > li > a {background: none;display: block;font-size: 14px;font-weight: 300;margin: 0;padding-bottom: 5px;	padding-left: 40px !important;padding-right: 0;padding-top: 5px;text-decoration: none;}
ul.main-navigation-menu > li > ul.sub-menu li > a .icon-arrow {background-position: -22px -9px;float: right;height: 15px;margin-right: 8px;margin-top: 7px;width: 15px;}
ul.main-navigation-menu > li > ul.sub-menu li.open > a .icon-arrow {background-position: -21px 6px;float: right;height: 15px;margin-right:8px;margin-top:0;width: 15px;}
/* 3rd level sub menu */
ul.main-navigation-menu > li > ul.sub-menu li > ul.sub-menu {margin: 0;}
ul.main-navigation-menu li.active > ul.sub-menu {display: block;padding: 0;}
ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 60px !important;}
ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {	padding-left: 80px !important;}
/*navigation toggler*/
body.navigation-small .navigation-toggler{cursor:pointer;height:28px;line-height:30px;margin-bottom:10px;margin-left:209px;margin-top:10px;padding:6px;text-align:center;width: 35px;}
.navigation-toggler{ background-color: #4c4a49; margin-left: 209px; cursor:pointer;height:28px;line-height:30px;margin-bottom:10px;margin-top:10px;padding:6px;text-align:center;width: 35px; }
.navbar-collapse.collapse{height:100% !important;}
.nav-icon{background-image: url("../Images/UI/adminsprite.png");background-position: 0 0;background-repeat: no-repeat;display: block;height: 16px;   width: 22px;}	
.main-container, .footer, .main-navigation, ul.main-navigation-menu > li > ul.sub-menu, .navigation-small ul.main-navigation-menu > li > ul.sub-menu {background-color: #555 !important;}
.navbar-toggle span {color: #999999;}
ul.main-navigation-menu > li a {border-bottom: none;/*border-top-color: #777;*/color: #CCC;}
ul.main-navigation-menu > li a > i {color: #007AFF;font-weight: normal;}
ul.main-navigation-menu > li.active > a {background: #007AFF !important;border-top: none !important;color: #fff;}
ul.main-navigation-menu > li.active > a .selected:before {color: #007AFF !important;}
ul.main-navigation-menu > li.active > a i {color: #fff;}
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {background-color: #444;}
.navigation-toggler:hover i:first-child, .go-top:hover {color: #555555;}
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li > a:hover {color: #000000 !important;background: #D9D9D9 !important;}
.main-navigation {position: absolute;width: 250px;}
.navigation-small .main-navigation {width: 40px !important;z-index: 1000;}
.navigation-small ul.main-navigation-menu > li > a > .title {display: none;}
.navigation-small  .navigation-toggler {margin-right: 3px !important;margin-left: 3px !important;}
.navigation-small ul.main-navigation-menu > li > a .icon-arrow {display: none;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu {display: none !important;padding-bottom: 10px !important;}
.navigation-small ul.main-navigation-menu li > ul.sub-menu > li > a {padding-left: 24px !important;}
.navigation-small ul.main-navigation-menu li > ul.sub-menu > li > a {padding-left: 24px !important;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 40px !important;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 60px !important;}
.navigation-small ul.main-navigation-menu > li:hover {width: 230px;	position: relative;}
.navigation-small ul.main-navigation-menu > li:hover .selected {display: none;}
.navigation-small ul.main-navigation-menu > li:hover > a:after {content: "";bottom: -1px;position: absolute;left: 20px;top: -1px;width: 14px;}
.navigation-small ul.main-navigation-menu > li:hover > a .title {padding-left: 4 0px;}
.navigation-small ul.main-navigation-menu > li:hover .title {display: inline;}
.navigation-small ul.main-navigation-menu > li:hover > ul.sub-menu {width: 189px;position: absolute;z-index: 1000;left: 36px;margin-top: 0;top: 100%;display: block !important;}
ul.main-navigation-menu > li a > i{background-image: url("../Images/UI/adminsprite.png");}
ul.main-navigation-menu > li.active > a span.title{color:#FFF;}


.home-icon {background-position: 0 -17px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.order-icon {background-position:0 -161px  !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.store-icon {background-position: 0 -35px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.product-icon {background-position: 0 -73px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.customer-icon {background-position: 0 -93px !important;height: 22px;left: 7px;position: absolute;width: 20px;}
.themes-icon {background-position: 0 -115px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.themesetting-icon {background-position: -22px -135px !important;height: 20px;left: 3px;position: absolute;width: 22px;}
.auction-icon {background-position: 0 -168px !important;height: 20px;left: 7px;position: absolute;width: 46px;}
.settings-icon {background-position: 0 -188px !important;height: 20px;left: 8px;position: absolute;width: 46px;}

.category-icon  {background-position:26px -59px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.dashboard-icon {background-position:-25px -38px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.staticpg-icon  {background-position:29px -80px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.custdesign-icon {background-position:3px -215px !important;height: 20px;left: 3px;position: absolute;width:27px;}
.email-icon  {background-position:-22px -176px !important;height:16px;left: 3px;position: absolute;width: 23px;}
.reports-icon {background-position:-19px -155px !important;height:23px;left: 3px;position: absolute;width: 24px;}
.logout-icon  {background-position:-27px -17px !important;height: 20px;left: 3px;position: absolute;width: 22px;}
.section-icon  {background-position:-21px -194px  !important;height:16px;left: 3px;position: absolute;width: 23px;}
.config-icon {background-position:-24px -135px !important;height: 20px;left: 3px;position: absolute;width: 20px;}


ul.main-navigation-menu > li.active > a {background: none repeat scroll 0 0 #0098ce  !important;border-top: none !important;color: #fff;}
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li > a:hover {background-color: #0098ce !important;color:#fff !important;}
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {background-color: #0098ce;color:#fff;}
.main-navigation{background:none repeat scroll 0 0 #4c4a49 !important;}
.main-navigation {padding: 0;z-index: 1000;top: 90px;}
ul.main-navigation-menu {padding:0px;}
.customers_btn { margin:0px; padding:0px; list-style:none;}
/*.searchInnerbox .input1 { width:94%;}*/

.box1Extra input { padding:3px 8px; border-radius:0;}
.paging table tr td a { border-radius:0; }


.manage_pro  table td, .manage_pro  table th  { padding:4px;}
.manage_pro table th, .manage_pro table td { border:1px solid #ccc !important;}

/*Added on 20th oct 2015*/
.dragbltop tr th { border-bottom:2px solid #ccc;   }
.dragblnextBlock li:nth-child(2n) { background:#fff;}
.dragblnextBlock li:nth-child(2n+1) { background:#fff;}
.dragbltop tr td, .dragbltop tr th { font-size:13px;}
.admin_page .wrap_container { background:#f8f8f8;}
.secondul li {    background: #fff none repeat scroll 0 0 !important;}
.left_align { width:30%; float:left;}
.right_align { width:69%; float:right; border:1px solid #ccc; background:#fff; padding:15px; margin:0 0 15px 0;}
.selectpicker { width:98%;}
.box1.boxManageReviews > div { text-align: right;}

.panel_data .form-control { width:98%; padding:3px 1%; } 
.panel_data .selectpicker { width:100%;}
.panel_data .col-md-4 { padding:0; }
.websiteSqBlockInnerBlock div { border:1px solid #ccc;}
.panel_data .col-md-7 input[type="text"] { width:100%;}
.panel_data .wraptrio {padding:5px 0; min-height:41px;}
.panel_data .wraptrio.addborder {border-bottom:1px solid #ccc; }
.panel_data .add_cust { display:block; margin:5px 0 5px 15px; text-transform:capitalize; font-size:11px; line-height:11px; background:#fff; color:#fff;}
.panel_data .col-md-4 label { padding-right:0px; margin-top:5px;}
.panel_data .col-sm-4 .col-md-5 input[type="checkbox"] { margin-right:5px;}

.admin_page .container .content.padding_top { padding-top:20px;}
#ContentPlaceHolder1_gvBreadCrumb.dragbltop tr td { text-align:left;}
.midleDrgblecontin { margin-bottom:20px;}

.gift_cupon .col-md-6  { margin-bottom:10px;}
.gift_cupon .table-responsive { padding-bottom:30px;}
.gift_cupon input[type="checkbox"] { margin-right:5px;}
.gift_cupon input[type="radio"] { margin-right:5px;  }
.gift_cupon label {font-weight:normal !important;}
.gift_cupon .col-md-8  table td { width:25%;}
#ContentPlaceHolder1_gvBrandColor .paging table tr td a { border-radius:0; }
#ContentPlaceHolder1_gvList .action input{ background:none; border:none;}
.gift_cupon .dragblnextBlock .view_order a { padding:10px 0; border-bottom:1px solid #ccc; color:#000;}
.dragblnextBlock .view_order a:hover { color:#0099cc;}

.add_newrole { float:right;}
#ContentPlaceHolder1_pnlList {    padding-bottom: 70px;}
.dragblnextBlock li:nth-child(2n+1) { border-bottom:1px solid #ccc;}
.allcutomerEtracls  th, .allcutomerEtracls  td { border-left:1px solid #ccc;}
.all_customer.dragblnextBlock.manage_pro .first_select { width:293px;}
#ContentPlaceHolder1_dvFonts { margin-top:10px;}
#ContentPlaceHolder1_dvTypeKit { margin-top:10px;}
#ContentPlaceHolder1_dvBlackList  { margin-top:10px;}
#ContentPlaceHolder1_dvWhiteList   { margin-top:10px;}
.uphistroyBLock h1 { color:#333;}
/*#ContentPlaceHolder1_btnSubmit{ margin-top:10px;}*/
#ContentPlaceHolder1_btnExportProducts  {top:20px; position:relative;}
.navigation-small .main-navigation {padding-left: 0;}

/*Added on 26_11_15*/
.remove01 .create02 .wrap_creat02 { border-bottom:0}
#dvCustomFields { padding:20px 0;}
.wraptrio.addborder table { border-color:#ccc; }
.wraptrio.addborder table th { padding:5px; background:#ccc; border-color:#ddd; }
.wraptrio.addborder table td { padding:5px;  border-color:#ccc;}
.remove01 .panel_data .wraptrio { padding:0px;}
.wraptrio.addborder table .save { font-size:13px;  padding: 3px 9px;}
.fright_div { padding-bottom:20px; float:left; width:100%;}
.fright_div input[ type="radio"]{ margin:0 10px; position:relative; top:2px;}
.fright_div input[ type="checkbox"]{ margin:0 10px; position:relative; top:2px; }
textarea {resize: none;}
.wraptrio.addborder table textarea { width:100%;}
.wraptrio.addborder table td:nth-child(5) { width:265px;  word-break: break-all;}
.wraptrio.addborder table th:nth-child(5) { width:265px;  word-break: break-all;} 

/*Added on 27_11_15*/
.alert-success { margin-top:20px; float:left; width:100%;}
.assing_prodcut .addsaTicP.categories.asin_cagry.right_align  { margin-top:15px;}
.hm_pg_manag #divVideo ul li:last-child { border-bottom:0px;}
.manage_st_content .dragblnextBlock li:nth-child(2n+1) { border-bottom:0px;}
.warp_filterbtn { margin:17px 0; float:left; width:100%;}
.modal-header { border-bottom:0px;}
.alert h4 { margin:0px;}
.modal-body { padding:0px;}
.text-danger { color:red; margin:10px 0;}
.typekitlable span { width:100%; display:block;}
.typekitlable input[type="text"] { width:293px;}
.attributeManagement { border:1px solid #ccc;}
.cust_codediv  { margin-bottom:10px;}
/*.ajax__tab_xp .ajax__tab_body { background:none !important;    }*/
.addsaTicP table td input[type="text"] { font-weight:normal;} 
.addsaTicP table td label { font-weight:normal;} 
.addsaTicP table td input[type="textarea"] { font-weight:normal !important;} 
.wrap_prolist { border:1px solid #ccc;}
.wrap_container.btn_padd_productlist  { padding-bottom:20px;}
.reset_new { margin-top:10px;}
.import_new { margin-top:10px;}
.product_export01 { margin-bottom:20px;}
.wrap_abcart { border:1px solid #ccc;}
.btn3 { background:#0098ce; color:#fff; border:1px solid #0098ce;}
.btn3:hover { background:#006f96;  border:1px solid #006f96;}
.assign_div input[type="radio"] { margin-right:5px;} 
.dwnlod_page ul { margin:15px 0; float:left; list-style:none; width:60%;}
.dwnlod_page ul li { margin:0px; list-style:none; float:left; width:50%;}
.upload_new  { margin-top:10px;}
.dwnload_new  { margin-top:37px;}
.cust_listing { table-layout:fixed;}
.cust_listing th { border:1px solid #ccc; background:#ddd; padding:5px;}
.cust_listing td { border:1px solid #ccc;  padding:5px;}
.enable_text { margin-left:239px;}
.setting_newmargin label { left:-8px; position:relative;}
.no_borderbtm { border-bottom:0px !important; }
.store_access { padding:5px 0 6px 0 !important;}

/*29_12_15*/
.budget_div { padding:0px;}
.budget_div .col-md-5  { padding:0px;}

/*Added on 7Jan2016 by sanchit*/
#dvLanguages ul li:first-child { padding-top:10px;} 
#dvCurrencies ul li:first-child { padding-top:10px;} 

/*Added on 7Jan2016 by sanchit*/
/*Select Currency: step1*/
.col_first { width:26%; float:left; padding:0 15px;}
.col_second { width:16%;  float:left; padding:0 15px;}
.col_three { width:55%;  float:left;}
.col_three table td  { width:150px; vertical-align:top;}
.col_three table td span { padding:0 7px;}
.col_three table td input { margin:0 5px 0 5px; width:150px;}
#dvCurrencies ul li .col_second { padding-top:10px;}
.col_default { position:relative; top:-8px;}
.col_three table td { padding-bottom:5px;}
#dvCurrencies ul li  { height:38px;}
.cat-details table {width:100%;} 
.cat-details table td  { width:45%;}
#dvCurrencies .btn-default:hover { border:1px solid #0098ce;}
/*Added on 8th jan 16*/
.wrap_lang.margin_btn ul li { margin-bottom:0px;}
.all_customer_inner { height:100% !important; overflow:auto; background:#fff; }
.all_customer_inner th { background:#ddd;}
.assign_direction p { text-align:center;}
.assign_direction p input[type="submit"] { display:block; margin:0 auto; margin-top:8px; margin-bottom:8px; width:40px} 
.assign_direction select { min-height:250px;}
.pad_top { padding-top:20px;}
/*.dragblnextBlock li*/
/*Tablet Landscape */
@media  (min-width:768px) and (max-width:1024px) and (orientation:landscape){
    #ContentPlaceHolder1_txtPageTitle { width:100% !important;}
	
}
/*Tablet Portrait */
@media  (min-width:768px) and (max-width:1024px) 
{
#header .navbar-nav > li > a{padding: 12px  21px;}
.select_data h6{ padding-bottom:10px;}	
.admin_page .left02{ width:10%;}
.wrap_lang ul li .col-md-2{ width:20%; float:left;}	
.select_data .col-md-2{ margin-bottom:5px;}
.create_pg4 .no_padding .wrap_title .title{ width:88%;}
.uploadedimage{ width:100% !important; height:auto !important;}
.languageDropdown{ width:180px;    }
.left_align{ width:100%;}
.right_align{ width:100%;}
.button_section li{ margin: 5px 8px;}

}
.pagination_text { padding: 8px 5px;    width: auto;}

.midleDrgblecontin #divSiteLogo ul {float: inherit;}
.customer {margin-bottom:40px;}
 .customer .customers_btn {float:right;}
.manage_pro table td, .manage_pro table th a {color:#000;}
.grouped_elements {color: #337ab7;}
#exportBtn {margin-top: -40px;}
#mainDiv {width:100%;float:left;}
.dragblnextBlock > div {width: 100%;}
.marginTop{margin-top:10px;}

.btnAdd{background-color:#0098ce;
border: medium none;border-radius: 4px;color: #FFFFFF;cursor: pointer;display: block;float: left;font-family: 'Conv_DIXN', Arial;
font-size: 14px;height: 32px;line-height: 30px;padding: 0 10px;position: relative;text-align: center;
margin:15px 0;text-decoration: none;text-transform: uppercase;}
#btnCancel{background: #999999 none repeat scroll 0 0;border-color: #999;}
.inputTxt {min-width:246px;}
.paddingLeft {padding-left:15px;}
.boxWidth {width:250px;}
.lableAlign {margin-right:18px;}

/*New Freignt Management*/
.panelHeading{background-color:#d9d9d9 !important;}
.marginTopDiv {padding:10px 0px 30px 0px;}
.lablealign {margin-right:50px;}
.panel-footer{background-color:#fff;}
.panel-footer > span {vertical-align: top;}
.panelMargin{padding:0 50px;}
.inputTd {width:50px;}
.form-control.sm_select {margin-bottom: 10px;width: 294px;}
.band-form li{ float:left;margin: 0 10px;}
.band-form {display: inline-block;margin: 0;padding: 0;width: 100%;}
.band-form input {margin: 0 5px 0 0px;vertical-align: baseline;width: 85px;}
.band-form b {line-height: 30px;}
.bottomUl {padding:14px 0 0 0;}
.bottomUl input[type="text"] {margin: 0 5px 0 0px;vertical-align: baseline;width: 60px;height:26px;}
.carriageServiceRadioBtn td {width: 92px;}
.carriageModelRadioBtn td {width: 92px;}
.tableTdWidth td {width: 100px;}
.spanWidth span{display: block;float: left;width: 35px;}
.panel {background-color: #ffffff;border-color: #c0c0c0 !important;}
.panel-default {border-color: #a0a0a0;}
.panel-group .panel {border-radius: 4px;margin-bottom: 5px;}
.panel-heading, .panel-heading h4 {font-size: 15px;font-weight: 400;}
.panel-heading {padding: 5px 10px;}
.panel-heading-a {background-color: #a0a0a0;color: #ffffff;text-decoration: none;}
.boldText {font-weight:bold;}
.button_section li {vertical-align: bottom;}
.tableTdWidth label{margin-left:5px;}
.currSym{display:inline-block;width:25px;}
.band-form li:first-child {
    margin-left: 0;
}
/*End*/