﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Presentation.Admin_Landing_UserControls_Dropdown" %>
<div>
    <asp:DropDownList ID="ddlControl" runat="server">
    </asp:DropDownList>

</div>
<div>
    <asp:Button ID="btnGo" runat="server" Text="Go" />

</div>
