﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="JpegImage.aspx.cs" Inherits="Login_JpegImage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>JpegImage</title>
</head>
<body>
    <form id="JpegImage" method="post" runat="server">
    </form>
</body>
</html>
