﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/MasterPage.master" AutoEventWireup="true"  Inherits="Presentation.Home_callback" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        <input type="hidden" id="hdnBasket_AddPreviousProducts" runat="server" />

<%--    <script>
        //Added By Snehal 29 09 2016
        function LoginAPI() {
            var host = '<%= host%>';
           var EmailId = '<%= Session["APIEmailId"]%>';
            $.ajax({
                url: host + 'login/Register.aspx/GuestRegistration',
                data: "{'strEmail': '" + EmailId + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                cache: false,
                async: true
                //beforeSend: function (request) {
                //    $.blockUI({ message: $('#dvLoader') });
                //}
            }).done(function (data) {
                alert(data.d);
                if (data.d == "success") {
                    window.location.href = host + 'checkout';
                }
                else if (data.d == "GuestUser") {
                    $('#myConfirmModal').find('#ConfirmationMessage').html('#hdnBasket_AddPreviousProducts').val();
                    $('#myConfirmModal').attr('rel', 'addbasket');
                    $('#myConfirmModal').modal('show');
                    return false;
                }
                else {
                    $('#myErrorModal').find('#ErrorMessage').html(data.d);
                    $('#myErrorModal').modal('show');
                    return false;
                }
            });
        }

        function Checkout() {
            var host = '<%= host%>';
            alert('checkout');
            window.location.href = host + 'checkout';
        }

        function Test() {
            var host = '<%= host%>';
                    alert('checkout');
                    window.location.href = host + 'Checkout/ShoppingCart';
                }
    </script>
        <script src="<%=host %>js/basket.js"></script>--%>
</asp:Content>

