<div id="divHomeContainer" ClientIDMode="Static" runat="server"><div class="row">
            <div class="container homepageRowPadding">
                <div class="column col-md-12 col-sm-12 col-xs-12"><div id="gmcontent1" data-value="25" itemtype="SlideShow" class="gmcontent" runat="server"><br><span style="color:#702828">Nerve Slider</span></div></div>
            </div>
        </div><div class="row"><div class="container homepageRowPadding"><div class="column col-md-12 col-sm-12 col-xs-12"><div id="gmcontent4" data-value="33" itemtype="SlideShow" class="gmcontent" runat="server"><br><span style="color:#702828">SlideShow</span></div></div></div></div><div class="row">
            <div class="container homepageRowPadding">
                
                <div class="column col-md-6 col-sm-6 col-xs-6"><div id="gmcontent3" data-value="2" itemtype="StaticText" class="gmcontent" runat="server"><br><span style="color:#702828">CorporateGiftsTitle</span></div></div><div class="column col-md-6 col-sm-6 col-xs-6"><div id="gmcontent2" data-value="3029" itemtype="StaticImage" class="gmcontent" runat="server"><br><span style="color:#702828">Sachin Test</span></div></div>
            </div>
        </div> </div> 