﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MCPMaster.master.cs" Inherits="Master_MCPMaster" %>

<%@ Register Src="~/Master/UserControls/Menu.ascx" TagPrefix="uc1" TagName="Menu" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title></title>
    
    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <link href="../CSS/common-admin.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link href="../CSS/font-awesome.min.css" rel="stylesheet" type='text/css'/>
    <script src="../JS/jquery.js"></script>
    <script src="../JS/bootstrap.min.js"></script>
    <script src="../JS/jquery.smartmenus.js"></script>
    <script src="../JS/jquery.smartmenus.bootstrap.js"></script>
    <script src="../JS/html5shiv.js"></script>
    <script type="text/javascript">
        function ShowLoader() {
            $('#dvLoader').show();

        }
        function HideLoader() {
            $('#dvLoader').hide();
        }
        var StoreURL = '<%=ConfigurationManager.AppSettings["MainDomainURL"]%>'
    </script>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!--preloader-->
          <div id="dvLoader" class="preloader" style="display: none;">
        <div class="loader">
            <p style="margin-top:5px;">
                <img width="90" height="90" alt="loader" src="../Images/UI/ajax-loader.gif">
            </p>
        </div>
    </div>
        <!--END preloader-->
        <header id="header">
            <div class="logoPlaceholder  container">
                <div class="row">
                    <div class="col-md-6  col-sm-6">
                        <a id="aLogo" runat="server" class="navbar-brand" href="DashBoard.aspx">
                            <img src="<%=host%>Images/Logo/logo-brandAddition.png" alt="logo"></a>
                    </div>
                    <div class="col-md-6 col-sm-6  ">
                        <div class="text-right  ">
                            <div class="select-style selectpicker" style="display:none;">
                                <asp:DropDownList ID="ddlStores" runat="server" Visible="false"></asp:DropDownList>
                            </div>
                            <div class="hello_admin">
                                <p>
                                    <asp:Literal ID="ltrUserName" runat="server"></asp:Literal>
                                </p>
                                <span>
                                    <img src="<%=host%>Images/UI/admin_icon.png" width="14" height="16" alt=""></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%--<div class="container">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <uc1:Menu ID="Menu" runat="server" />
                    </div>
                </div>
            </div>--%>
            <%--<div class="container">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Store </a></li>
                    <li>Create Store</li>
                </ol>
            </div>--%>

            <div class="main-navigation navbar-collapse collapse" style="display:none">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="nav-icon"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
               <uc1:Menu ID="Menu" runat="server" />
                <!-- end: MAIN NAVIGATION MENU -->
            </div>

        </header>

        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>

        <footer class="container">Copyright 2015 Powerweave. All rights reserved. E Wiz Pro V 1.3 </footer>

        <!-- This modal popup is used to display success messages -->
        <div id="mySuccessModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-check-circle fa-2x text-success"></i> Success!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success text-center fade in">
                            <h4><span id="SuccessMessage"></span></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success center-block" id="btnSuccessOK" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // This modal popup is used to display success messages -->

        <!-- This modal popup is used to display error messages -->
        <div id="myErrorModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-times-circle fa-2x text-danger"></i> Error!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger text-center  fade in">
                            <h4><span id="ErrorMessage"></span></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger center-block" id="btnErrorOK" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // This modal popup is used to display error messages -->

        <!-- This modal popup is used to display warning messages -->
        <div id="myWarningModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-exclamation-triangle fa-2x text-warning"></i> Warning!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning text-center fade in">
                            <h4><span id="WarningMessage"></span></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning center-block" id="btnWarningOK" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // This modal popup is used to display warning messages -->
    </form>

   


<script>
    $(document).ready(function ($) {
        "use strict";



        /*Left Vertical Menu */
        runContainerHeight();

        /*Toggler Vuttn Click*/
        $('body').addClass('navigation-small');
        $(".navigation-toggler").click(function () {

            if (!$('body').hasClass('navigation-small')) {
                $('body').addClass('navigation-small');
            } else {
                $('body').removeClass('navigation-small');
            };
        })
        /*Page link Click */
        $(".main-navigation-menu > li a").click(function () {
            if ($(this).parent().children('ul').hasClass('sub-menu') && ((!$('body').hasClass('navigation-small')) || !$(this).parent().parent().hasClass('main-navigation-menu'))) {
                if (!$(this).parent().hasClass('open')) {
                    $(this).parent().addClass('open');
                    $(this).parent().parent().children('li.open').not($(this).parent()).not($('.main-navigation-menu > li.active')).removeClass('open').children('ul').slideUp(200);
                    $(this).parent().children('ul').slideDown(200, function () {
                        runContainerHeight();
                    });
                } else {
                    if (!$(this).parent().hasClass('active')) {
                        $(this).parent().parent().children('li.open').not($('.main-navigation-menu > li.active')).removeClass('open').children('ul').slideUp(200, function () {
                            runContainerHeight();
                        });
                    } else {
                        $(this).parent().parent().children('li.open').removeClass('open').children('ul').slideUp(200, function () {
                            runContainerHeight();
                        });
                    }
                }
            }
        });

        function runContainerHeight() {

            var mainContainer = $('.main-content > .container');
            var mainNavigation = $('.main-navigation');
            mainContainer.css('min-height', mainNavigation.outerHeight());
        }


        $('.menuBtn').click(function () {
            $('.newnav').toggleClass('alive');
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() >= 74) {
                $('.main-navigation').addClass('stick');
            }
            else {
                $('.main-navigation').removeClass('stick');
            }
        })
    })

    </script>

</body>
</html>
