﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DTSScheduler.aspx.cs" Inherits="DTSScheduler" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="cmdRunDTS" runat="server" Text="Run DTS" OnClick="cmdRunDTS_Click"/>
    </div>
    </form>
</body>
</html>
