    /*************************
*******Typography******
**************************/


body {background: #fff;font-family: "Arial Regular","Arial";color:#333333;line-height: 22px; font-weight:normal;}
h1,h2,h3,h4,h5,h6 { font-weight:normal;   font-family: "Arial Regular","Arial";  color:#4e4e4e;}
h1{font-size: 36px;color:#fff;}
h2{font-size: 20px;}
h3{font-size: 16px;color: #787878;font-weight: 400;line-height: 24px;}
h4{font-size: 16px;}
li{list-style:none;}
a {color: #c52d2f;-webkit-transition: color 300ms, background-color 300ms;-moz-transition: color 300ms, background-color 300ms;-o-transition:  color 300ms, background-color 300ms;transition:  color 300ms, background-color 300ms;}
a:hover, a:focus {color: #d43133;}
hr {border-top: 1px solid #e5e5e5;border-bottom: 1px solid #fff;}
.btn-primary {padding: 8px 20px;background: #c52d2f;color: #fff;border-radius: 4px;border:none;margin-top: 10px;}
.btn-primary:hover, btn-primary:focus{background: #c52d2f;outline: none;box-shadow: none;} 
.btn-transparent {border: 3px solid #fff;background: transparent;color: #fff;}
.btn-transparent:hover {border-color: rgba(255, 255, 255, 0.5);}
a:hover,a:focus {color: #111;text-decoration: none;outline: none;}
.dropdown-menu {margin-top: -1px;min-width: 180px;}
.center h2{font-size: 36px;margin-top: 0;margin-bottom: 20px;}
.media>.pull-left{margin-right: 20px;}
.media>.pull-right{margin-left: 20px;}
body > section {padding: 10px 0;}
.center {text-align: center;padding-bottom: 55px;}
.scaleIn {-webkit-animation-name: scaleIn;animation-name: scaleIn;}
.lead{font-size: 16px;line-height: 24px;font-weight: 400;}
.transparent-bg {background-color: transparent !important;margin-bottom: 0;}
::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000;}
::-moz-placeholder {color: #000;}
:-ms-input-placeholder {color: #000;}

.form-control:focus														{ box-shadow:none;}
.btn																					{ border-radius:5px;}

input, button																	{ outline:none;}
*:active,*:focus																{ outline:0 !important;}
.wide																		        {  width:100%;}
/*************************
*******Header******
**************************/
a.navbar-brand {float: inherit;height: auto;padding:20px 0 20px 0; display:block;}
.breadcrumb > li + li::before{content: "| ";}
.hello_admin span 		{ display:inline-block; width:14px;  float:right; margin-top:-3px;}
.hello_admin				{ width:120px; display:inline-block; margin:29px  0 0 17px; vertical-align:middle; }
.hello_admin p				{ font-weight: normal;4   font-family: "Arial Regular","Arial";  color:#333333; font-size:14px; line-height:14px;
width:86%; text-align:left; float:right;  padding:0 0 0 5px;}
.selectpicker  { width:298px; display:inline-block; margin:8px 0 0 0; vertical-align:middle; position:relative; top:7px; border:1px solid #cccccc; height:30px;
color:#666666; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:400;}
.selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:50px;pointer-events:none;}
.selectpicker:after{position:absolute;content:"";border:8px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}
#header  .navbar-nav > li > a {color:#ffffff; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; border-right:1px solid #696767; padding: 12px 27px;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {  background:none;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover	{ background:none;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover	{ background:none;}
#header  .navbar-default		{ border:0; background:#4c4a49;}
#header .navbar						{ border-radius: 0;  min-height:40px; margin:0;}
#header  .navbar-nav > li:first-child  a { padding-left:6px;}
#header .navbar-nav > li a .caret							{ margin-left:5px;	border-top: 7px dashed; position:relative;}

#header .navbar-nav > li ul li a .caret { -moz-border-bottom-colors: none;    -moz-border-left-colors: none;    -moz-border-right-colors: none;    -moz-border-top-colors: none;    border-color: transparent transparent transparent #333;
    border-image: none; border-style: solid;    border-width: 5px;    margin-left: auto;    top: -3px;
}
.breadcrumb	{ margin:0; padding:8px 0 7px 0;  border-radius:0; background: none; text-transform:uppercase; border-bottom:1px solid #cccccc;}
.breadcrumb li		{ color:#333333;}
.breadcrumb li	 a	{ font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#0095e5;}
.breadcrumb > li + li::before {  color:#333333;}

/*content*/
.admin_page										{ background:url(../images/UI/bg.png) repeat  left top;}
.admin_page  .wrap_container			{ box-shadow:0 2px 3px  #000101;  padding:0; width:100%; background:#fff;}
.admin_page  .container .content { width:96%; margin:0 auto;}
.admin_page  .container .content  h3	 { font-family: "Arial Regular","Arial";  font-size:24px; line-height:24px; font-weight:normal; color:#666666; text-transform:uppercase;
padding:17px 0 3px 0; margin:0;}
.admin_page  .container .content  p	 { font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#666666;}
.create_store														{ width:90%; margin:48px auto 23px;   position:relative;}
.create_store ul														{  left: 0;    margin-top: -17px;    padding: 0;    position: relative;    top: 50%;    width: 100%;}
.create_store ul li													{ float:left; margin:0; padding:0;width:25%; text-align:center;}
.create_store ul li span												{background: #999999 none repeat scroll 0 0;    border-radius: 50%;    color: #333333;    display: block;    font-family: "Open Sans",sans-serif;    font-size: 16px;
     font-weight: normal;  height: 30px;    line-height: 29px;    margin: 0 auto;    text-align: center;    width: 30px;}
.create_store ul li h4												{font-family: "Arial Regular","Arial";  font-size:16px; line-height:16px; font-weight:normal; color:#333333; margin-top:6px;}
.create_store ul li.length01									{ width:31%;}
.create_store ul li.length02									{ width:7%;}
.create_store ul li.length02 span							{  float:right;}
.create_store ul li  .wrapBox.active span	{ background:#0098ce; color:#fff;}
.create_store ul li  .wrapBox {   display: inline-block;}
.select_data													{ width:100%; border-top: 1px solid  #cccccc;}
.button_section														{ width:100%; text-align:center; margin:0; padding:20px 0;   border-top: 1px solid  #cccccc;  }
.button_section li														{ display: inline-block; margin:0 8px;}
.button_section .btn-success { background-color: #0098ce;    border-color: #0098ce;
  font-family: "Arial Regular","Arial";  font-size:16px; line-height:16px; font-weight:normal; color:#fff;
}
/*addded on btm*/
.select_data  h6											{ font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333; margin-top:6px; margin-bottom:0;}
.select_data .radio_data	label 				{font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;
position:relative; width:123px;}
.select_data .form-control							{ width:298px;  border-radius:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;
height:30px; padding:3px 4px;}								



.button_section .btn 	{ padding:6px 19px; text-transform:uppercase; font-family: "Arial Regular","Arial";  font-size:16px; line-height:16px; font-weight:normal; color:#fff; background:#0098ce; border-color:#0098ce; }


.select_data .row									{ margin-top:18px;}
.select_data  .col-md-2						{ margin-bottom:20px;}
.select_data  .col-md-10					{ margin-bottom:20px;}
.button_section .btn.gray							{ background:#999999 ;  border-color: #999  ;}
.select-style 										{border: 1px solid #ccc;   border-radius:0;    overflow: hidden;    background: #fff url(../images/UI/select.png)no-repeat 97% 50%;}
.select-style select							 {    padding: 5px 5px;    width: 100%;    border: none;    box-shadow: none;    background: transparent;    background-image: none; 
   -webkit-appearance: none; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.select-style select:focus				{    outline: none;}
.select_data .radio							{ margin:0;    padding-left: 20px;}
.select_data  .selectpicker  { width:298px; display:inline-block; margin:0 0 0 0; vertical-align:middle; position:relative; top:0; border:1px solid #cccccc; height:30px;
color:#666666; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:400;}
.select_data  .selectpicker:before{content:"";position:absolute;right:0;top:0;bottom:0;background:#fff;z-index:1;width:20px;pointer-events:none;}
.select_data  .selectpicker:after{position:absolute;content:"";border:6px solid transparent;border-top-color:#666;z-index:2;right:8px;top:12px;pointer-events:none;}

.wrap_lang ul								{ margin:0; padding:0; list-style:none; width:100%;}
.wrap_lang ul  li								{ margin:0 0 0px 0; padding:0; list-style:none; width:100%; float:left; height:25px;}
.wrap_lang ul  li:first-child				{ margin-bottom:12px;}
.wrap_lang.second ul  li								{ /*margin-bottom:8px;*/ }
.wrap_lang.second ul  li:first-child				{ margin-bottom:12px;}
.wrap_lang ul  li 	{ margin:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.wrap_lang ul  li label			{ margin:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; }
.wrap_lang ul  li .col-md-2 input[type="checkbox"]  { margin:0 5px 0 0;}

/*.wrap_lang ul  li .col-md-2				{ margin:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.wrap_lang ul  li .col-md-2	 label			{ margin:0; font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; }
    */

.wrap_lang ul.checkcolor label {color:#666666;}

.select_data .wrap_lang								{  border:1px solid #cfcfcf; padding:0 0 0 0; max-height:240px; overflow:auto;}	


/*create-store_2 page*/
.create02  h5	 { font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333; margin:0 15px; padding:0 0 12px 0;}
.create02  .checkcolor h5	{ margin:0;}
.create02 .wrap_creat02 { border-bottom:1px solid #ccc;}
.create02 .wrap_creat02  .checkcolor label {color:#666666;}
.wrap_creat02														{ padding:5px 0 6px 0 ;}
.wrap_creat02 .col-md-6 h5		{ margin-left:0; margin-right:0;}
.wrap_creat02 .select_data .selectpicker	{ width:173px;}
.num_size input[type="text"] { width:53px;}
.select_data .wrap_lang.create02		{ max-height:100%;}
.create02 .col-md-6 h5	{ margin-left:0; margin-right:0;}
.create02 .col-md-6  span	{ width:150px; display:inline-block;}
.narrow												{ display:inline-block;}
.create02 .col-md-6 .narrow			{ width:63px; padding-left:20px;}
.size01												{ width:258px;}
.create02 .col-md-6 .selectpicker  { width:173px;}
.create02 .col-md-6.type_select .selectpicker  { width:260px;}
.create02 .col-md-6 .narrow  label { font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.create02 .col-md-6	 .default	{ width:73px;}
.create02 .col-md-6 	 label { font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333; margin-right:10px;}
input, select, textarea				{ border:1px solid #ccc;}
input[type="text"]{ height:28px; padding:0 7px ;}
 textarea			{ min-height:78px; padding:7px;}

/*create-store_3 page*/
.pagination	{ margin:0; }
.well{ padding:15px 0; background:#ebebeb; border:0; border-radius:0; box-shadow:none; float:left; width:100%;}
.well .col-md-6		{ font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#333333;}
.create_pg3  .col-md-6 span	{ display:inline-block; margin-left:15px;}
.create_pg3  .col-md-6 span a	{font-family: "Arial Regular","Arial";  font-size:14px; line-height:14px; font-weight:normal; color:#0098ce;  text-decoration:none;	}
.create_pg3 .pagination > li > a, .pagination > li > span {   border: 1px solid #fff; color:#666666; background:#ebebeb; font-size:14px; line-height:14px; font-weight:normal;
padding:7px 10px;	}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {background-color: #666666;    border-color: #fff;    color: #fff;    z-index: 3;}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-bottom-left-radius:0;border-top-left-radius: 0 ;margin-left: 0;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-bottom-right-radius: 0;border-top-right-radius:0;}
.create_pg3 .button_section { text-align:right;}
.nopadding{padding:0;}
.themes										{  margin:0 -15px; padding:0; list-style:none;display:inline-block;}
.themes .photo							{ border-top: 1px solid #797979;  border-left: 1px solid #797979;  border-right: 1px solid #797979; position:relative;padding:0 10px;}
.themes li									{ margin:0 0 5px 0;width:25%;float:left;padding:7px 15px;}
.themes .photo  img					{ border:1px solid #a8a8a8; max-width:100%; height:auto; margin-top:12px; margin-bottom:12px;}
.well .col-md-6 .wrap_well02	{  display: inline-block;    position: relative; margin-left:20px;  top: -9px;}
.well .col-md-6 .wrap_well	{    margin: 6px 0 0; font-size:14px;}
.well .col-md-6 .wrap_well02 a	{ color:#0098ce;}
.themes .details	{ background:#f8f8f8; border:1px solid #cccccc; padding:8px 0;}
.themes .details h6	 { margin:8px 0 0 9px; width:50%; float:left; color:#333;}
.themes .details .store	{ float:right; text-align:right;   font-size:12px; line-height:12px; font-weight:400; color:#333333; padding:7px 12px 7px  0;  border-right:.0px;}
.themes .details .store span	{ border-radius:50%; width:15px; height:15px; display:inline-block; background:#4d4d4d; color:#fff; text-align:center; padding-top:2px;}
.arrow_box {position: relative;	background: #fff;	border: 1px solid #cccccc;}
.arrow_box:after, .arrow_box:before {	right: 100%;	top: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;}
.arrow_box:after {	border-color: rgba(255, 255, 255, 0);	border-right-color: #fff;	border-width: 15px;	margin-top: -15px;}
.arrow_box:before {	border-color: rgba(204, 204, 204, 0);	border-right-color: #cccccc;	border-width: 16px;	margin-top: -16px;}
.themes .photo:hover .overlay	{ display:block;  position:absolute; left:0; bottom:0; width:100%; height:100%; background:#474747; opacity:0.77;}
.themes .photo:hover .overlay a { display:block; font-size:15px; line-height:15px; font-weight:400; color:#fff; display:block; width:100%; text-align:center;
                                  background:#000; display:block; bottom:0; padding:10px 0; top:auto; position:absolute; left:0; bottom:0; }
.overlay{ position:absolute; bottom:0;  left:0; width:100%; margin:0; padding:0; background:#000; display:none;}

/*create-store_4 page*/
.create_pg4 .col-md-6 					{ padding:0;}
.create_pg3 .button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section { padding:15px 0;}
.create_pg4 .col-lg-12.button_section .col-md-6.text-left  { font-size:18px;  line-height:27px; min-height:30px; font-weight:normal; color:#666666;}
.create_pg4 .box	{ border:1px solid  #cccccc; width:100%; margin-bottom:20px;}
.create_pg4 .box .col-md-3	{ padding-top:15px; padding-bottom:15px}
.create_pg4 .box .col-md-3 ul { margin:0; padding:0; list-style:none;}
.create_pg4 .box .col-md-3 ul li  { font-size:14px; line-height:14px; font-weight:normal;  color:#333333;}
.create_pg4 .box .col-md-3 img	{ border:1px solid  #a8a8a8;}
.create_pg4 .box .col-md-9 h6		{  font-size:16px; line-height:16px; font-weight:normal;  color:#333; margin-bottom:19px;}
.create_pg4 .no_padding .wrap_title			{ background:#efefef; margin: 0 0 18px 0;}
.create_pg4 .no_padding .wrap_title .title	{   font-size:16px; line-height:16px; font-weight:normal; color:#333; padding:7px 0;}
.create_pg4 .no_padding .wrap_title .icon		{ background:url(../images/store_pics.png)  no-repeat 0 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon2		{ background:url(../images/store_pics.png)  no-repeat -32px 0;  width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon3		{ background:url(../images/store_pics.png)  no-repeat  -64px 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon4		{ background:url(../images/store_pics.png)  no-repeat  -96px 0; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon5		{ background:url(../images/store_pics.png)  no-repeat  0 -32px; width:30px; height:30px; float:left;}
.create_pg4 .no_padding .wrap_title .icon6		{ background:url(../images/store_pics.png)  no-repeat  -32px  -32px; width:30px; height:30px; float:left;}
.create_pg4 .review01 ul.detail_title li .col-md-6 b	{ text-transform:uppercase;}
.create_pg4 .no_padding .wrap_title .title		{ width:92%; float:right; }
.create_pg4 .review01								{ width:100%; margin:0 0 30px 0;	}
.create_pg4 .review01 ul.detail_title		{ margin:0; width:100%; padding:0; float:left;}
.create_pg4 .review01 ul.detail_title li		{ margin:0px 0; display:inline-block; width:100%; vertical-align:top;}
.create_pg4 .review01 ul.detail_title li .col-md-6{ margin:0; padding:0; list-style:none; color:#333333;  font-size:14px;  line-height:23px; font-weight:normal;}
.create_pg4 .review01 ul.detail_title li .lightgray	{ color:#666666;}
.create_pg4 .no_padding							{ padding:0;}
.create_pg4 .no_padding  .review01 h6		{  font-size:14px; line-height:14px; font-weight:900; color:#333;
text-transform:uppercase; margin:0; float:left; margin:0 0  5px 0;}
.wrap_block														{ margin: 0 0 20px 0; padding:0; list-style:none;  border-bottom:1px solid #cccccc; float:left;}
ul.wrap_block  li:first-child									{ padding-right:2%; border-right:1px solid #cccccc; float:left; padding-left:0px;}
ul.wrap_block  li									{ width:50%; padding-left:2%; float:right;}
ul.wrap_block li li {border: 0 none !important; padding: 0;}
ul.wrap_block li li:first-child { padding-right:0;}



/*Add Category */
.collapsableMenu .btn.btn-info {background-color: #efefef;border: 0 none;border-radius: 0;color: #444;display: block;width: 100% !important;text-align:left;padding-left: 40px; color:#666; font-size:18px; font-weight:bold;}
.collapsableMenu{padding:10px 20px;}
.collapsableMenu a{position:relative;}
.collapsableMenu a.btn:before {border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 5px solid #666666;content: "";height: 0;left: 13px;  position: absolute;top: 17px;width: 0;}
.collapsableMenu a.btn.collapsed:before{ border-bottom: 5px solid transparent;border-left: 6px solid #666666;border-top: 5px solid transparent;content: "";height: 0;  left: 17px;position: absolute;top: 14px;width: 0;}
.languageDropdown{width:220px;}
.row.collapsableContent {padding: 15px 0;}
.redColor{color:#FF0000;}
.form-control{border-radius:0px;}
.collapsableContent .form-group{border-bottom: 1px solid #CCC;margin: 0 15px 15px;padding-bottom: 15px;}
.collapsableContent .form-group label{padding:0px;color: #333;}
.collapsableContent .form-group .select-style{height: 34px;margin: 0;vertical-align: super;width: 100%;}
.uploaderMsg{display:inline-block;vertical-align: top;}
.uploadImage img{width:100%;}
.collapsableContent .form-group:last-child {border-bottom: 0 none;margin-bottom: 0;padding-bottom: 0;}
.seoMetaDataPanel .col-md-10{width:81%;}
.buttonPanel{width:100%;}


/*ADD Section*/
.imageSectionIcon{padding:0px;}
#assignProducts .radio-inline input[type="radio"]{margin: 4px 0 0 -16px;   }
#assignProducts .radio-inline{padding-left: 16px !important;}
#assignProducts .collapsableContent .form-group{border-bottom:0 none; margin-bottom:0px;}

/*ADD Product Section*/
.product_page .navbar-inner ul { margin:0; padding:0; list-style:none; text-align:center;}
.product_page .navbar-inner ul li { display:inline-block;}
.product_page .navbar-inner ul li a	{font-size:14px; line-height:14px; font-weight:900; color:#666666; padding:13px 22px; text-transform:uppercase; background:#cccccc; 
border-radius:5px 5px 0 0; display:block; border:1px solid #cccccc;}
.product_page .navbar-inner ul li.active a	{ background:#fff;}
.product_page .collapsableMenu .btnmodal { width:130px !important; height:30px; background:#999999; color:#fff;  box-shadow:none !important; border-radius:5px; }

.btn-file {    position: relative;        overflow: hidden;		background:#0098ce; border-color:#0098ce;  color:#fff; border-radius:5px;}
.btn-file input[type=file] {        position: absolute;        top: 0;        right: 0;        min-width: 100%;        min-height: 100%;        font-size: 100px;        text-align: right;        filter: alpha(opacity=0);        opacity: 0; 
       outline: none;        background: white;        cursor: inherit;        display: block;    }
.btn-default:hover {  background:#0098ce; border:#0098ce; color:#fff;}
.red  {  color:#cc0000;}
#rootwizard .navbar  { margin-bottom:9px; background: url(../images/border.jpg) repeat-x left bottom; min-height:auto;}
/***********************
********* Footer ******
************************/
footer 										{ padding:23px 0 26px 0; font-family: "Arial Regular","Arial";  font-size:12px; line-height:12px; font-weight:400; color:#474747; position:relative; z-index:99; }

/*Login page Section*/
.logpage .logo	{left: 0;position: absolute; right: 0; top: -110px;}
.logpage	{ width:62%; margin:0 0 0 -31%;border-radius:15px;left:50%;position:fixed;top:50%;z-index:999;}
.logpage:before{position:fixed;bottom:0;left:0;right:0;height:30%;background:#5c5c5c;content:"";z-index:-1;}
.logpage:after{position:fixed;top:0;left:0;right:0;height:70%;background:#f5f5f5;content:"";z-index:-1;}
.logpage .col-md-12 {background:#fff; border-radius:15px; padding-top:40px; padding-bottom:40px;  -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;}
.logpage h6	{ font-size:16px; line-height:18px; font-weight:900; color:#1d1d1b; }
.logpage p	{ font-size:14px; line-height:16px; font-weight:400; color:#1d1d1b; margin:0 0 21px 0;}
.logpage ul	{ margin:7px 0 20px 0; padding:0; list-style:none;}
.logpage ul li	{ margin:0; padding:0; list-style:none; position:relative; padding:0 0 0 8px;
font-size:14px; line-height:17px; font-weight:400; color:#1d1d1b;}
.logpage ul li:before { content:"" ; position:absolute; width:3px; height:1px; background:#000; left:0; top:9px;}
.border_right { border-right:1px solid #cccccc;}
.logpage .form-group	{ margin-bottom:20px;}
.logpage .form-control	{ border-radius:5px; background:#f5f5f5; font-size:14px; line-height:14px; font-weight:400; color:#999999; height:40px; border:0; box-shadow:none;}
.logpage .btn-default {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,9a9a9a+100 */
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #9a9a9a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#9a9a9a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#9a9a9a 100%); /* IE10+ */
background: linear-gradient(to bottom, #cccccc 0%,#9a9a9a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#9a9a9a',GradientType=0 ); /* IE6-9 */
 font-size:18px; line-height:18px; font-weight:900; color:#1d1d1b; text-transform:uppercase;  border:0;padding: 9px 12px;
}
.logpage .check	{font-size:14px; line-height:14px; font-weight:400 !important;  color:#333333; }
.logpage .check label	{ font-weight:400;}
.logpage p.no_margin	{ margin-bottom:0 !important;}

/*slideshow*/
.slideshow.select_data  .select-style select		{ color:#666666;}
.admin_page .container .content  .slideshow.select_data .col-md-9 p	{font-size:13px; line-height:18px; font-weight:400; color:#666666; margin:6px 0 0 0; width:100%; float:left;}
.slideshow.select_data ul						{ margin:0; padding:0; list-style:none; width:100%;}
.slideshow.select_data ul	li {border-bottom:1px solid #cccccc; float:left; width:100%; padding:10px 0;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .size01	{font-size:14px; line-height:14px; font-weight:normal; color:#666666; float:left;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6 label { width:100%; color:#666666 !important; }
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  label { color:#666666 !important;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .radio_data  .col-md-6 { padding-left:6px;}
.admin_page .container .content  .slideshow.select_data .col-md-9 .disc  { float:left; width:30px; margin:3px 0 0 10px;}

/*Added on 30jully*/
#dvLanguages ul li:first-child { padding-top:10px;} 
#dvCurrencies ul li:first-child { padding-top:10px;} 


#ContentPlaceHolder1_gvAllStores .btn.btn-primary.btn-large {border-radius: 50%; font-size: 10px;height: 15px;line-height: 10px;margin: 0;padding: 0;text-align: center;  width: 15px;
                                                             background:#cccccc; border:1px solid #666; color:#000;}
.add_newrole { text-align:right; margin:10px 0 ;}
.dragblnextBlock .action:hover a.icon {    background-position: 0 -244px;    z-index: 999;}
.allcosutomer { margin:10px 0; display:block;}

/*Tablet Landscape */
@media  (min-width:768px) and (max-width:1024px) and (orientation:landscape)  
{
.overlay ul li a										{ font-size:13px;}	
.create_pg4 .box .col-md-3 img		{ width:100%; height:auto;}

}

@media  (max-height:768px) and (orientation:landscape)  {
	
.logpage{position:absolute;margin-top:50px !important;margin-bottom:50px !important;top:0;}

	
	}
/*Tablet Portrait */
@media  (min-width:768px) and (max-width:1024px) and (orientation:portrait)  
{
#header .navbar-nav > li > a			{    padding: 12px  21px;}
.select_data h6								{ padding-bottom:10px;}	
.admin_page .left02						{ width:10%;}
.wrap_lang ul li .col-md-2				{ width:20%; float:left;}	
.select_data .col-md-2					{ margin-bottom:5px;}
.create_pg4 .no_padding .wrap_title .title	{ width:88%;}
.themes li{width:33.33337%;}
.overlay ul li a{font-size:13px;}
.themes .details h6 { color: #333; float: left; margin: 8px 0 0 9px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;width: 36%;}
.well .col-md-6 .wrap_well02 { display: inline-block; margin-top: 6px;    position: static;    top: 0;}
.border_right { border:0;}
}

/*Mobile */
@media  (min-width:320px) and (max-width:640px) 
{
		
	
}

/*Mobile Portrait */
@media  (min-width:320px) and (max-width:640px) and (orientation:portrait)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:640px) and (orientation:landscape)  
{
	
}

/*Mobile Landscape */
@media  (min-width:320px) and (max-width:480px) and (orientation:landscape)  
{
	
}

/*new css*/

.wrap_lang ul  li input[type="checkbox"]  { margin:0 5px 0 0;}


/*Create store updated page*/
.create_pg3 .button_section h5 { margin:0; width:50%; float:left; text-align:left; width:80%; line-height:30px; min-height:30px; position:relative; z-index:1;}
.create_pg3 .button_section h5:after { content:""; background:#ccc;  height:2px; position:absolute; left:15%;  top:50%; z-index:-1; right:0;}
.themes { width:100%;}
.themes .details .checkbox, .radio { margin:0 0 0 20px; padding: 0 0 0 20px;}
#ContentPlaceHolder1_gvAllStores .popover { width:150px !important;}
.popover .popover-title { font-size:13px !important; line-height:13px !important; background:#4d4d4d !important; padding:10px 15px !important;
                          color:#fff !important;}
.action{cursor: pointer;display: block;height: 17px;margin: 0 auto;position: relative;width: 30px;}
.icon {       background: url("../Images/UI/icon2.png") no-repeat scroll 0 -304px;cursor: pointer;display: block; height: 20px; padding: 0;   position: relative;  right: 0;     top: -5x;     width: 29px;}
.iconDark {background: url("../Images/UI/icon2.png") no-repeat scroll 0 -244px transparent !important;}
.action:hover .action_hover {display:block}
.action_hover {    background: none repeat scroll 0 0 #FFFFFF;    border: 1px solid #999999;    border-radius: 5px 5px 5px 5px;    box-shadow: 0 2px 3px 2px #6E6E6E;    display: none;    padding: 5px 0;    position: absolute;    right: -98%;    top: 25px;    width: 160px;    z-index: 9;}
.action_hover a:hover {    color:#0095e5;}
.action_hover span { background: none repeat scroll 0 0 #FFFFFF;     border-radius: 5px 5px 0 0; box-shadow: 0 -2px 2px #6C6C6C; height: 34px; border:1px solid #999999;  border-bottom:none;  padding: 0;       position: absolute;  right: 8%;    top: -34px;   width: 59px;}
.other_option a:first-child {border-top:none;}
.other_option a {background: none repeat scroll 0 0 transparent;color: #000000;display: block;
border-top:1px solid #ccc;text-align:left;font-size: 13px;padding: 10px 0;text-indent: 20px;}
.other_option {padding:2px 0px;}
.table_store { padding:0 0 80px 0; border-top:1px solid #000; margin-top:20px;}

.file_type {position:absolute;}
.select_data .form-control { height:36px;}

.browsePdf {
    background-color: #ccc;
    cursor: pointer;
    display: inline;
    padding: 4px 8px;
}

/****************************Preloader********************/

.preloader {
    background: url("../images/UI/transbgcara.png") repeat scroll 0 0 transparent;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    left: 0;
}

.loader {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 1px 1px -1px #ffffff;
    font-weight: 400;
    height: 120px;
    left: 0;
    margin: auto;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    top: 0;
    width: 200px;
}

    .loader p {
        display: block;
        font-size: 16px;
         font-weight: normal;
    }

    /*ViewStore.aspx*/
.order_data a {background: url("../images/UI/dwn_up_arrow.jpg") no-repeat scroll right 5px transparent; padding-right:19px;}

.create_store .length            { width:75%;  background:#999999 ; height:4px;  margin:0 auto;position:relative;}
.create_store .length:before{position:absolute;content:"";top:0;bottom:0;left:0;width:33.33%;background:#999999;}

.create_store .length1            { width:75%;  background:#999999  ; height:4px;   margin:0 auto;position:relative;}
.create_store .length1:before{position:absolute;content:"";top:0;bottom:0;left:0;width:66.6%;background:#0098ce;}

.create_store .length2            { width:75%;  background:#999999 ; height:4px;  margin:0 auto;position:relative;}
.create_store .length2:before{position:absolute;content:"";top:0;bottom:0;left:0;width:33.33%;background:#999;}

.create_store .length3            { width:75%;  background:#999999 ; height:4px;  margin:0 auto;position:relative;}
.create_store .length3:before{position:absolute;content:"";top:0;bottom:0;left:0;width:33.33%;background:#0098ce;}


#myErrorModal .modal-body, #mySuccessModal .modal-body,#myWarningModal .modal-body {margin: 0;padding: 0;}
#myErrorModal .alert,#mySuccessModal .alert,#myWarningModal .alert {margin:0px;}
#myErrorModal .modal-dialog, #mySuccessModal .modal-dialog, #myWarningModal .modal-dialog {width:375px;}

.pro_detail { margin-bottom:12px;}
.pro_detail_check label { width:65%;}

/*Added on 1st sept 2015*/
.wrap_product_detail { margin:20px 0 0 0;}
.create02 .wrap_creat02.last { border-bottom:0px !important;}
.NewTitle b { font-size:16px; line-height:16px;}
.NewTitle.top_mar { margin-top:20px;}
.select_data h6 { font-size:17px; line-height:17px;}

/*Select Currency: step1*/
.col_first { width:26%; float:left; padding:0 15px;}
.col_second { width:16%;  float:left; padding:0 15px;}
.col_three { width:55%;  float:left;}
.col_three table td  { width:150px; vertical-align:top;}
.col_three table td span { padding:0 7px;}
.col_three table td input { margin:0 5px 0 5px; width:150px;}
#dvCurrencies ul li .col_second { padding-top:10px;}
.col_default { position:relative; top:-8px;}
.col_three table td { padding-bottom:5px;}
#dvCurrencies ul li  { height:38px;}
.cat-details table {width:100%;} 
.cat-details table td  { width:45%;}
#dvCurrencies .btn-default:hover { border:1px solid #0098ce;}

/*Added on 11 sept 2015 by mayuri*/
.categories_btn li .btn1:hover, .categories_btn li .btn2:hover, .categories_btn li .btn3:hover { background:#006f96;}
.paneltab:hover  {color:#006f96;}
.save {    background: #0098ce none repeat scroll 0 0;    border: 1px solid #0098ce;    border-radius: 5px;    color: #fff;    display: inline-block;    font-family: "Arial Regular","Arial";    font-size: 16px;
               font-weight: normal;   line-height: 16px;    padding: 6px 19px;    text-transform: uppercase;}
.save:hover { background:#006f96; border:1px solid #006f96;}
.collapsableMenu  .btn:hover { background-image: none; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset; outline: 0 none;}
.qq-upload-button {text-align:center;}
.button_section .btn:hover {background:#006f96; border:1px solid #006f96;}
.button_section .btn.gray:hover{background:#6a6a6a; border:1px solid #6a6a6a;}

#accordion .panel-heading:hover { background:#ccc;}
.logpage .btn-default:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1ac3ff+0,1e5799+100 */
background: #1ac3ff; /* Old browsers */
background: -moz-linear-gradient(top,  #1ac3ff 0%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ac3ff), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1ac3ff 0%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1ac3ff 0%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ac3ff', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
color:#fff;}
#ContentPlaceHolder1_dvVariable input[type="submit"]:hover { background:#ccc;}
.paging table {      margin:0 0 10px;float:right;}
.paging table tr td {border: 0 solid #CCCCCC !important;font-size: 14px !important;      margin: 0 2px;    width:auto;   padding: 0 1px !important; text-align: left !important;}
.paging table tr td span { background: none repeat scroll 0 0 #474747;     color: #FFFFFF;line-height:normal !important;  padding: 3px 7px;}
.paging table tr td a {    background: none repeat scroll 0 0 #00528c;     color: #000 ; padding: 3px 7px;       line-height:normal;  width: auto;}
.paging table tr td a:hover {     background: none repeat scroll 0 0 #0098ce;     color: #000;}
.paging td {  border: 0 solid #CCCCCC !important;      font-size: 14px !important; margin: 0 2px;       padding: 0 1px !important; text-align: left !important;}
/*.manage_slide_pegi { padding: 30px 0 0; position: relative;}*/
.paging table { margin:10px 0;}
.paging { background:#fff;}
.paging table tr td a { background:#ededed; color:#000;}
.paging table tr td span { background:#0098ce; color:#000;}



/*Left Side Navigation */
.main-navigation.stick{top:0px;}
.main-navigation {padding: 0;	max-height: none !important;	z-index: 1000;	position:fixed !important;}
ul.main-navigation-menu > li {border: 0 none;display: block; margin: 0;padding: 0;	/*border-bottom:1px solid #FFF;*/}
/*ul.main-navigation-menu > li:first-child {border-top:1px solid #FFF;}*/
ul.main-navigation-menu > li > a {border: 0 none;display: block;font-size: 14px;font-weight: 300;margin: 0;padding: 10px 10px 10px 0;position: relative;text-decoration: none;/*border-bottom: 1px solid #DDDDDD;border-top: 1px solid #FFFFFF;*/	min-height:40px;}
ul.main-navigation-menu > li > a span.title {    margin-left: 40px;}
ul.main-navigation-menu li a .icon-arrow {background-position: -22px -9px;float: right;height: 15px;margin-right: 8px;margin-top: 7px;width: 15px;}
ul.main-navigation-menu li.open a .icon-arrow {background-position: -21px 6px;float: right;height: 15px;margin-right:8px;margin-top:0;width: 15px;}
/* 2nd level sub menu */
ul.main-navigation-menu li > ul.sub-menu {clear: both;list-style: none;margin: 8px 5px;display: none;padding: 0;}
ul.main-navigation-menu li > ul.sub-menu > li {background: none;margin-bottom: 0;margin-left: 0;margin-right: 0;margin-top: 1px !important;padding: 0;}
ul.main-navigation-menu li > ul.sub-menu > li > a {background: none;display: block;font-size: 14px;font-weight: 300;margin: 0;padding-bottom: 5px;	padding-left: 40px !important;padding-right: 0;padding-top: 5px;text-decoration: none;}
ul.main-navigation-menu > li > ul.sub-menu li > a .icon-arrow {background-position: -22px -9px;float: right;height: 15px;margin-right: 8px;margin-top: 7px;width: 15px;}
ul.main-navigation-menu > li > ul.sub-menu li.open > a .icon-arrow {background-position: -21px 6px;float: right;height: 15px;margin-right:8px;margin-top:0;width: 15px;}
/* 3rd level sub menu */
ul.main-navigation-menu > li > ul.sub-menu li > ul.sub-menu {margin: 0;}
ul.main-navigation-menu li.active > ul.sub-menu {display: block;padding: 0;}
ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 60px !important;}
ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {	padding-left: 80px !important;}
/*navigation toggler*/
body.navigation-small .navigation-toggler{cursor:pointer;height:28px;line-height:30px;margin-bottom:10px;margin-left:209px;margin-top:10px;padding:6px;text-align:center;width: 35px;}
.navigation-toggler{ background-color: #4c4a49; margin-left: 209px; cursor:pointer;height:28px;line-height:30px;margin-bottom:10px;margin-top:10px;padding:6px;text-align:center;width: 35px; }
.navbar-collapse.collapse{height:100% !important;}
.nav-icon{background-image: url("../Images/UI/adminsprite.png");background-position: 0 0;background-repeat: no-repeat;display: block;height: 16px;   width: 22px;}	
.main-container, .footer, .main-navigation, ul.main-navigation-menu > li > ul.sub-menu, .navigation-small ul.main-navigation-menu > li > ul.sub-menu {background-color: #555 !important;}
.navbar-toggle span {color: #999999;}
ul.main-navigation-menu > li a {border-bottom: none;/*border-top-color: #777;*/color: #CCC;}
ul.main-navigation-menu > li a > i {color: #007AFF;font-weight: normal;}
ul.main-navigation-menu > li.active > a {background: #007AFF !important;border-top: none !important;color: #fff;}
ul.main-navigation-menu > li.active > a .selected:before {color: #007AFF !important;}
ul.main-navigation-menu > li.active > a i {color: #fff;}
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {background-color: #444;}
.navigation-toggler:hover i:first-child, .go-top:hover {color: #555555;}
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li > a:hover {color: #000000 !important;background: #D9D9D9 !important;}
.main-navigation {position: absolute;width: 250px;}
.navigation-small .main-navigation {width: 40px !important;z-index: 1000;}
.navigation-small ul.main-navigation-menu > li > a > .title {display: none;}
.navigation-small  .navigation-toggler {margin-right: 3px !important;margin-left: 3px !important;}
.navigation-small ul.main-navigation-menu > li > a .icon-arrow {display: none;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu {display: none !important;padding-bottom: 10px !important;}
.navigation-small ul.main-navigation-menu li > ul.sub-menu > li > a {padding-left: 24px !important;}
.navigation-small ul.main-navigation-menu li > ul.sub-menu > li > a {padding-left: 24px !important;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 40px !important;}
.navigation-small ul.main-navigation-menu > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li > a {padding-left: 60px !important;}
.navigation-small ul.main-navigation-menu > li:hover {width: 230px;	position: relative;}
.navigation-small ul.main-navigation-menu > li:hover .selected {display: none;}
.navigation-small ul.main-navigation-menu > li:hover > a:after {content: "";bottom: -1px;position: absolute;left: 20px;top: -1px;width: 14px;}
.navigation-small ul.main-navigation-menu > li:hover > a .title {padding-left: 4 0px;}
.navigation-small ul.main-navigation-menu > li:hover .title {display: inline;}
.navigation-small ul.main-navigation-menu > li:hover > ul.sub-menu {width: 189px;position: absolute;z-index: 1000;left: 36px;margin-top: 0;top: 100%;display: block !important;}
ul.main-navigation-menu > li a > i{background-image: url("../Images/UI/adminsprite.png");}
ul.main-navigation-menu > li.active > a span.title{color:#FFF;}

/*
.home-icon {background-position: 0 -17px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.order-icon {background-position: 0 -67px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.store-icon {background-position: 0 -37px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.product-icon {background-position: 0 -73px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.customer-icon {background-position: 0 -93px !important;height: 22px;left: 7px;position: absolute;width: 20px;}
.themes-icon {background-position: 0 -115px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.themeSetting-icon {background-position:-20px -135px !important;height: 20px;left: 3px;position: absolute;width: 20px;}
.auction-icon {background-position: 0 -168px !important;height: 20px;left: 7px;position: absolute;width: 46px;}
.settings-icon {background-position: 0 -188px !important;height: 20px;left: 8px;position: absolute;width: 46px;}
category-icon  {background-position:-20px -135px !important;height: 20px;left: 3px;position: absolute;width: 20px;}
    */

.home-icon {background-position: 0 -17px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.order-icon {background-position:0 -161px  !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.store-icon {background-position: 0 -35px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.product-icon {background-position: 0 -73px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.customer-icon {background-position: 0 -93px !important;height: 22px;left: 7px;position: absolute;width: 20px;}
.themes-icon {background-position: 0 -115px !important;height: 20px;left: 7px;position: absolute;width: 20px;}
.themesetting-icon {background-position: -22px -135px !important;height: 20px;left: 3px;position: absolute;width: 22px;}
.auction-icon {background-position: 0 -168px !important;height: 20px;left: 7px;position: absolute;width: 46px;}
.settings-icon {background-position: 0 -188px !important;height: 20px;left: 8px;position: absolute;width: 46px;}

.category-icon  {background-position:26px -59px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.dashboard-icon {background-position:-25px -38px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.staticpg-icon  {background-position:29px -80px !important;height: 20px;left: 3px;position: absolute;width: 26px;}
.custdesign-icon {background-position:3px -215px !important;height: 20px;left: 3px;position: absolute;width:27px;}
.email-icon  {background-position:-22px -176px !important;height:16px;left: 3px;position: absolute;width: 23px;}
.reports-icon {background-position:-19px -155px !important;height:23px;left: 3px;position: absolute;width: 24px;}
.logout-icon  {background-position:-27px -17px !important;height: 20px;left: 3px;position: absolute;width: 22px;}
.section-icon  {background-position:-21px -194px  !important;height:16px;left: 3px;position: absolute;width: 23px;}
.config-icon {background-position:-24px -135px !important;height: 20px;left: 3px;position: absolute;width: 20px;}


ul.main-navigation-menu > li.active > a {background: none repeat scroll 0 0 #0098ce  !important;border-top: none !important;color: #fff;}
ul.main-navigation-menu li > ul.sub-menu > li.open > a, ul.main-navigation-menu li > ul.sub-menu > li.active > a, ul.main-navigation-menu li > ul.sub-menu > li > a:hover {background-color: #0098ce !important;color:#fff !important;}
ul.main-navigation-menu > li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {background-color: #0098ce;color:#fff;}
.main-navigation{background:none repeat scroll 0 0 #4c4a49 !important;}
.main-navigation {padding: 0;z-index: 1000;top: 90px;}
ul.main-navigation-menu {padding:0px;}


.basic_info  { border:1px solid #ccc; padding:20px 0;}
.basic_info ul { margin:0; padding:0;}
h5 { font-size:18px; line-height:18px;}
.basic_info .col-md-4 { margin-bottom:8px;}
.basic_info.col-md-10 li {    float: left;    margin: 0 0 8px;   width: 100%;}
.basic_wrap_info { padding-top:20px;}

.role_listing  .all_customer.dragblnextBlock.manage_pro { padding-bottom:120px;}
.role_listing .all_customer.dragblnextBlock.manage_pro td, .role_listing .all_customer.dragblnextBlock.manage_pro th { padding:8px;}
.role_listing .all_customer.dragblnextBlock.manage_pro .searchInnerbox input { float:right;}
textarea {resize: none;}

/*Added on 1_12_15*/
.role_listing.manage_users .all_customer.dragblnextBlock.manage_pro { padding-bottom:60px;}
.creat_mnguser .repeterV  input[type="text"] { margin-right:20px;}
.creat_mnguser .repeterV  input[type="password"] { margin-right:20px;}
.creat_mnguser .select_data .selectpicker{ width:220px;}
.new_assign { margin-bottom:20px;}
.new_assign td { padding:5px; border:1px solid #ccc; }
.new_assign th { padding:5px; border:1px solid #ccc;}
.assign_wrap_select { padding:10px 0;}
.assign_wrap_select .selectpicker { margin:0px; top:0px;}